# Balance Sheet Data Loader

### WTD : 일단 성공!

2) h5로 파일 만들고 파일명으로 접근해서 loader를 만들기

3) last_update_date로 update하는 방식 -> 주식가격 그 쪽도 그렇게 하자

4) loader에서 YoY, QoQ도 구현

5) 처음에만..?시간을 걸어야겠네 너무 빨라서 못 긁는 경우가 있어;;

6) 크롤링하다가 재무제표 없는 기업은 json파일을 만들어야 겠네.. update_date랑 리스트.

### WTD

1) all finance bs data
2) + evitda
3) 시가총액
4) 수정종가는...? 어디랬지

In [1]:
import os, logging, pickle
import requests, glob
from datetime import datetime
from bs4 import BeautifulSoup
from datetime import datetime
import pandas as pd
import time
import urllib.request
from selenium.webdriver import Chrome
import json, re, sys, h5py
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import datetime as dt
import pymysql
import matplotlib.pyplot as plt
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [2]:
conn = pymysql.connect(host='localhost',user='root',
                                   password='tlqkfdk2',db='INVESTAR',charset='utf8')

In [4]:
cn = conn.cursor()

In [9]:
cn.execute("SELECT COUNT(*) FROM finance_info_copy WHERE DATE <= '2010-12';")

1

In [10]:
type(cn.fetchone()[0])

int

In [10]:
cn.fetchall()

((16416,),)

In [4]:
cn.execute('select code, company from company_info;')

2411

In [5]:
ls = cn.fetchall()

In [6]:
codes = [str(e[0]) for e in ls]
comps = [str(e[0]) for e in ls]

In [101]:
class BSLoader:
    def __init__(self):
        """Naver Finance : Financial Summary Crawler"""
        self.conn = pymysql.connect(host='localhost',user='root',
                                   password='tlqkfdk2',db='INVESTAR',charset='utf8')
        with self.conn.cursor() as curs:
            sql_load = """
            SELECT CODE, COMPANY FROM COMPANY_INFO
            """
            curs.execute(sql_load)
            comps_ls = curs.fetchall()
            self.codes = [str(e[0]) for e in comps_ls]
            self.comps = [str(e[1]) for e in comps_ls]
            
        self.conn.commit()
        
        self.items = ['매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익', '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계',
                     '부채총계', '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름', '투자활동현금흐름', '재무활동현금흐름',
                     'CAPEX', 'FCF', '이자발생부채', '영업이익률', '순이익률', 'ROE(%)', 'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)', 'BPS(원)',
                     'PBR(배)', '현금DPS(원)', '현금배당수익률', '현금배당성향(%)', '발행주식수(보통주)']
        
    def __del__(self):
        """Disconnecting MariaDB"""
        self.conn.close()
        
    def ShowItems(self):
        return self.items
    
    def FindCodeByName(self, comp_nm):
        idx = self.comps.index(comp_nm)
        return self.codes[idx]
    
    def FindNameByCode(self, comp_code):
        idx = self.codes.index(comp_code)
        return self.comps[idx]
    
    def PriceLoader(self, start, end, code_ls, item='close'):
        total = pd.DataFrame()
        for cd in code_ls :
            sql = f"SELECT DATE, {item} FROM DAILY_PRICE WHERE CODE = '{cd}' AND DATE BETWEEN '{start}' AND '{end}';"
            tmp_df = pd.read_sql(sql, self.conn)
            tmp_df.index = list(tmp_df['DATE'])
            tmp_df.drop(['DATE'], axis=1, inplace=True)
            tmp_df.columns = [self.FindNameByCode(str(cd))]
            total = pd.concat([total, tmp_df], axis=1)
        total.sort_index(inplace=True)
        return total
    
    def BSLoader_v1(self, start, end, code_ls, item='EPS', unit='Annual'):
        """ Cache를 바로 parsing해서 만드는 lv2 matrix """
        """ 생각해보니까 DB에 넣어도 되잖아? (CODE,DATE)를 Primary Key로 하면.. """
        """ 중요한 점은 이런 BS DATA는 알게 되는 날짜가 한참 뒤라는 거네."""
        if item not in self.items:
            for itm in self.items :
                if item in itm :
                    item = itm
        total = pd.DataFrame()
        for cd in code_ls:
            tmp = pd.read_hdf(glob.glob(f'./FullCache/{unit}/fs_{unit.lower()}_{cd}_*')[0], key=cd, mode='r')
            tmp_cols = []
            for dt in tmp.columns :
                if dt >= start[:7] and dt <= end[:7] :
                    tmp_cols.append(dt)
            tmp_df = pd.DataFrame(data=tmp[tmp_cols].loc[item,:])
            comp_nm = self.FindNameByCode(cd)
            tmp_df.columns = [comp_nm] # list('abc') -> ['a','b','c'] || ['abc'] -> ['abc'] !!!
            tmp_df.sort_index(ascending=True, inplace=True)
            total = pd.concat([total, tmp_df],axis=1)
        return total

In [150]:
loader = BSLoader()

In [174]:
%%time
ww = loader.BSLoader_v1('2019-01-01','2021-01-01',['005930','066570','013890'],'PER','Annual')

Wall time: 76.4 ms

In [57]:
def TimeInverter(dt, hyphen=False):
    Y = str(dt.year)
    M = '0'+str(dt.month) if int(dt.month)<10 else str(dt.month)
    D = '0'+str(dt.day) if int(dt.day)<10 else str(dt.day)
    if hyphen :
        return Y+'-'+M+'-'+D
    else :
        return Y+M+D

In [107]:
def AdjPriceMerge(codes,conn):
    
    for cd in codes :
        sql = f"select min(date), max(date) from daily_price where code='{cd}'"
        conn.execute(sql)
        rst = conn.fetchone()
        min_date, max_date = rst[0], rst[1]
        min_date = TimeInverter(min_date)
        max_date = TimeInverter(max_date)
        tmp_df = stock.get_market_ohlcv_by_date(min_date, max_date, cd, adjusted=True)
        adj_values = tmp_df['종가'].values
        dt_values = tmp_df.index
        dt_values = [TimeInverter(dt, hyphen=True) for dt in dt_values]
        for idx, adjp in enumerate(adj_values):
            try :
                update_sql = f"update daily_price set adjprice = {int(adjp)} where code = '{cd}' and date = '{dt_values[idx]}'"
                conn.execute(update_sql)
            except :
                print(dt_values[idx],adjp)
                raise ValueError("what?")
        #conn.commit()

In [108]:
%%time
AdjPriceMerge(loader.codes[:100],cn)

Wall time: 29.3 s

In [7]:
class BSLoader:
    def __init__(self):
        """Naver Finance : Financial Summary Crawler"""
        self.conn = pymysql.connect(host='localhost',user='root',
                                   password='tlqkfdk2',db='INVESTAR',charset='utf8')
        with self.conn.cursor() as curs:
            sql_load = """
            SELECT CODE, COMPANY FROM COMPANY_INFO
            """
            curs.execute(sql_load)
            comps_ls = curs.fetchall()
            self.codes = [str(e[0]) for e in comps_ls]
            self.comps = [str(e[1]) for e in comps_ls]
            
        self.conn.commit()
        
        self.items = ['매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익', '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계',
                     '부채총계', '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름', '투자활동현금흐름', '재무활동현금흐름',
                     'CAPEX', 'FCF', '이자발생부채', '영업이익률', '순이익률', 'ROE(%)', 'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)', 'BPS(원)',
                     'PBR(배)', '현금DPS(원)', '현금배당수익률', '현금배당성향(%)', '발행주식수(보통주)']
        
    def __del__(self):
        """Disconnecting MariaDB"""
        self.conn.close()
        
    def ShowItems(self):
        return self.items
    
    def FindCodeByName(self, comp_nm):
        idx = self.comps.index(comp_nm)
        return self.codes[idx]
    
    def FindNameByCode(self, comp_code):
        idx = self.codes.index(comp_code)
        return self.comps[idx]
    
    def PriceLoader(self, start, end, code_ls, item='close'):
        total = pd.DataFrame()
        for cd in code_ls :
            sql = f"SELECT DATE, {item} FROM DAILY_PRICE WHERE CODE = '{cd}' AND DATE BETWEEN '{start}' AND '{end}';"
            tmp_df = pd.read_sql(sql, self.conn)
            tmp_df.index = list(tmp_df['DATE'])
            tmp_df.drop(['DATE'], axis=1, inplace=True)
            tmp_df.columns = [self.FindNameByCode(str(cd))]
            total = pd.concat([total, tmp_df], axis=1)
        total.sort_index(inplace=True)
        return total
    
    def BSLoader_v1(self, start, end, code_ls, item='EPS', unit='Annual'):
        """ Cache를 바로 parsing해서 만드는 lv2 matrix """
        """ 생각해보니까 DB에 넣어도 되잖아? (CODE,DATE)를 Primary Key로 하면.. """
        """ 중요한 점은 이런 BS DATA는 알게 되는 날짜가 한참 뒤라는 거네."""
        if item not in self.items:
            for itm in self.items :
                if item in itm :
                    item = itm
        total = pd.DataFrame()
        for cd in code_ls:
            tmp = pd.read_hdf(glob.glob(f'./FullCache/{unit}/fs_{unit.lower()}_{cd}_*')[0], key=cd, mode='r')
            tmp_cols = []
            for dt in tmp.columns :
                if dt >= start[:7] and dt <= end[:7] :
                    tmp_cols.append(dt)
            tmp_df = pd.DataFrame(data=tmp[tmp_cols].loc[item,:])
            comp_nm = self.FindNameByCode(cd)
            tmp_df.columns = [comp_nm] # list('abc') -> ['a','b','c'] || ['abc'] -> ['abc'] !!!
            tmp_df.sort_index(ascending=True, inplace=True)
            total = pd.concat([total, tmp_df],axis=1)
        return total
    
    def BSLoader_v2(self, start, end, code_ls, item='EPS', unit='Y', colname='name'):
        print("Note that the date you requested is for the non-PIT-ness data.")
        if item not in self.items:
            for itm in self.items:
                if item in itm:
                    item = itm
        #cursor = self.conn.cursor()
        total = pd.DataFrame()
        for cd in code_ls :
            tmp = pd.read_sql(f"select date, value from finance_info where code='{cd}' and item='{item}' and type='{unit}' and date between '{start}' and '{end}'",self.conn)
            tmp.index = tmp.date.values
            tmp.drop(['date'],axis=1,inplace=True)
            if colname == 'name':
                tmp.columns = [self.FindNameByCode(cd)]
            elif colname == 'code':
                tmp.columns = [str(cd)]
            else :
                raise ValueError("colname should be either 'name' or 'code'.")
            total = pd.concat([total, tmp],axis=1)
            
        total.sort_index(inplace=True)
        return total

In [8]:
ldr = BSLoader()

In [9]:
ldr.BSLoader_v2('2014-01','2020-12',['005930','066570','000660'], 'PER', unit='Y', colname='name')

Note that the date you requested is for the non-PIT-ness data.

          삼성전자    LG전자  SK하이닉스
2015-12  11.47   78.21    5.18
2016-12  13.18  121.37   11.02
2017-12   9.40   11.11    5.23
2018-12   6.42    9.08    2.83
2019-12  17.63  416.75   34.03
2020-12  20.14   12.30   26.35

---

### Add Sector to DB : company_info

In [16]:
url = 'http://kind.krx.co.kr/corpgeneral/corpList.do?method='\
            'download&searchType=13'
krx = pd.read_html(url, header=0)[0]

In [23]:
krx.to_excel("./상장법인목록.xlsx",index=False)

In [39]:
%%time
errs = []
for cd in codes :
    try :
        tmp_sector = krx[lambda x : x['종목코드']==int(cd)]['업종'].values[0]
        #print(tmp_sector)
        cn.execute(f"UPDATE company_info SET sector='{tmp_sector}' where code='{cd}'")
        conn.commit()
    except :
        errs.append(cd)

Wall time: 2.56 s

인수합병용 회사 '한국제7호스팩' 291210 code 만 none떠서 다시 수동으로 업데이트했고 끝.

---

In [10]:
ss = pd.read_hdf('./FullCache/Annual/fs_annual_005930_2021-01-12.h5')

In [12]:
ss[['2016-12']]

                 2016-12
매출액         2.018667e+06
영업이익        2.924070e+05
영업이익(발표기준)  2.924070e+05
세전계속사업이익    3.071370e+05
당기순이익       2.272610e+05
당기순이익(지배)   2.241570e+05
당기순이익(비지배)  3.104000e+03
자산총계        2.621743e+06
부채총계        6.921130e+05
자본총계        1.929630e+06
자본총계(지배)    1.864243e+06
자본총계(비지배)   6.538700e+04
자본금         8.975000e+03
영업활동현금흐름    4.738560e+05
투자활동현금흐름   -2.965870e+05
재무활동현금흐름   -8.669500e+04
CAPEX       2.414300e+05
FCF         2.324270e+05
이자발생부채      1.528240e+05
영업이익률       1.449000e+01
순이익률        1.126000e+01
ROE(%)      1.248000e+01
ROA(%)      9.010000e+00
부채비율        3.587000e+01
자본유보율       2.200414e+04
EPS(원)      2.735000e+03
PER(배)      1.318000e+01
BPS(원)      2.663600e+04
PBR(배)      1.350000e+00
현금DPS(원)    5.700000e+02
현금배당수익률     1.580000e+00
현금배당성향(%)   1.781000e+01
발행주식수(보통주)  7.033967e+09

In [13]:
from pykrx import stock

In [29]:
t = pd.read_csv("./FullCache/marcap/marcap-2016.csv")

In [35]:
t[lambda x : x['Date']=='2016-12-29'][lambda x : x['Code']=='005930']

,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Rank,Date
535416,005930,삼성전자,1802000,14000,0.8,150329,269850552000,1771000,1802000,1770000,253504165274000,16.74,140679337,71413038.0,50.76,1,2016-12-29

In [36]:
s_marcap = 253504165274000

In [38]:
s_marcap / 192963033.0 #PBR

1313744.7174868982

In [40]:
s_marcap / 22726092.0 #PER

11154762.784292169

In [41]:
s_marcap / 47385644.0 #PCR

5349809.433295873

In [43]:
22726092 / 192963033.0 #ROE

0.11777433038171617

In [2]:
t = pd.read_csv("./FullCache/marcap/marcap-2010.csv")

In [5]:
len(set(t.Code.values))

2073

# 그냥 MarketCap은 csv에서 바로 부르자...

In [171]:
class BSLoader:
    def __init__(self):
        """Naver Finance : Financial Summary Crawler"""
        self.conn = pymysql.connect(host='localhost',user='root',
                                   password='tlqkfdk2',db='INVESTAR',charset='utf8')
        with self.conn.cursor() as curs:
            sql_load = """
            SELECT CODE, COMPANY FROM COMPANY_INFO
            """
            curs.execute(sql_load)
            comps_ls = curs.fetchall()
            self.codes = [str(e[0]) for e in comps_ls]
            self.comps = [str(e[1]) for e in comps_ls]
            
        self.conn.commit()
        
        with open("./TradingDates.pickle", "rb") as fr:
            self.td_days = pickle.load(fr)
        
        self.items = ['매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익', '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계',
                     '부채총계', '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름', '투자활동현금흐름', '재무활동현금흐름',
                     'CAPEX', 'FCF', '이자발생부채', '영업이익률', '순이익률', 'ROE(%)', 'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)', 'BPS(원)',
                     'PBR(배)', '현금DPS(원)', '현금배당수익률', '현금배당성향(%)', '발행주식수(보통주)','시가총액','상장주식수','시가총액비중(%)',
                     'PBR','PER','PCR','POR','PSR','ROE','ROA','EPS','BPS']
        
    def __del__(self):
        """Disconnecting MariaDB"""
        self.conn.close()
        
    def ShowItems(self):
        return self.items
    
    def FindCodeByName(self, comp_nm):
        idx = self.comps.index(comp_nm)
        return self.codes[idx]
    
    def FindNameByCode(self, comp_code):
        idx = self.codes.index(comp_code)
        return self.comps[idx]
    
    def PriceLoader(self, start, end, code_ls, item='close'):
        total = pd.DataFrame()
        for cd in code_ls :
            sql = f"SELECT DATE, {item} FROM DAILY_PRICE WHERE CODE = '{cd}' AND DATE BETWEEN '{start}' AND '{end}';"
            tmp_df = pd.read_sql(sql, self.conn)
            tmp_df.index = list(tmp_df['DATE'])
            tmp_df.drop(['DATE'], axis=1, inplace=True)
            tmp_df.columns = [self.FindNameByCode(str(cd))]
            total = pd.concat([total, tmp_df], axis=1)
        total.sort_index(inplace=True)
        return total
    
    def BSLoader_v1(self, start, end, code_ls, item='EPS', unit='Annual'):
        """ Cache를 바로 parsing해서 만드는 lv2 matrix """
        """ 생각해보니까 DB에 넣어도 되잖아? (CODE,DATE)를 Primary Key로 하면.. """
        """ 중요한 점은 이런 BS DATA는 알게 되는 날짜가 한참 뒤라는 거네."""
        if item not in self.items:
            for itm in self.items :
                if item in itm :
                    item = itm
        total = pd.DataFrame()
        for cd in code_ls:
            tmp = pd.read_hdf(glob.glob(f'./FullCache/{unit}/fs_{unit.lower()}_{cd}_*')[0], key=cd, mode='r')
            tmp_cols = []
            for dt in tmp.columns :
                if dt >= start[:7] and dt <= end[:7] :
                    tmp_cols.append(dt)
            tmp_df = pd.DataFrame(data=tmp[tmp_cols].loc[item,:])
            comp_nm = self.FindNameByCode(cd)
            tmp_df.columns = [comp_nm] # list('abc') -> ['a','b','c'] || ['abc'] -> ['abc'] !!!
            tmp_df.sort_index(ascending=True, inplace=True)
            total = pd.concat([total, tmp_df],axis=1)
        return total
    
    def BSLoader_v2(self, start, end, code_ls=None, item='EPS', unit='Y', colname='name'):
        print("Note that the date you requested is for the non-PIT-ness data.")
        total = pd.DataFrame()
        if item not in self.items:
            for itm in self.items:
                if item in itm:
                    item = itm
                else :
                    raise ValueError("Item you requested does not exist..")
        #cursor = self.conn.cursor()
        if code_ls == None:
            code_ls = self.codes
        for cd in code_ls :
            tmp = pd.read_sql(f"select date, value from finance_info_copy where code='{cd}' and itm='{item}' and type='{unit}' and date between '{start}' and '{end}'",self.conn)
            tmp.index = tmp.date.values
            tmp.drop(['date'],axis=1,inplace=True)
            if item in ['EPS','BPS']:
                tmp['value'] = tmp['value'].map(lambda x : x * 100000000)
            elif item in ['PBR','PER','PCR','POR','PSR']:
                tmp['value'] = tmp['value'].map(lambda x : x / 100000000)
            else : #ROE, ROA don't need unit scaler
                pass
            if colname == 'name':
                tmp.columns = [self.FindNameByCode(cd)]
            elif colname == 'code':
                tmp.columns = [str(cd)]
            else :
                raise ValueError("colname should be either 'name' or 'code'.")
            total = pd.concat([total, tmp],axis=1)

        total.sort_index(inplace=True)
        
        
        
        return total
    
    def BSLoader_v4(self, start, end, code_ls=None, item='EPS', unit='Y', colname='name'):
        print("Note that the date you requested is for the non-PIT-ness data.")
        total = pd.DataFrame()
        if item not in self.items:
            for itm in self.items:
                if item in itm:
                    item = itm
                else :
                    raise ValueError("Item you requested does not exist..")
        #cursor = self.conn.cursor()
        if code_ls == None:
            code_ls = self.codes
        
        tmp = pd.read_sql(f"select code, date, value from finance_info_copy where code in {tuple(code_ls)} and itm='{item}' and type='{unit}' and date between '{start}' and '{end}'",self.conn)
        tmp.index = tmp.date.values
        for cd in code_ls :
            sub = tmp[lambda x : x['code']==cd]
            sub.drop(['code','date'],axis=1,inplace=True)
            if item in ['EPS','BPS']:
                sub['value'] = sub['value'].map(lambda x : x * 100000000)
            elif item in ['PBR','PER','PCR','POR','PSR']:
                sub['value'] = sub['value'].map(lambda x : x / 100000000)
            else : #ROE, ROA don't need unit scaler
                pass
            if colname == 'name':
                sub.columns = [self.FindNameByCode(cd)]
            elif colname == 'code':
                sub.columns = [str(cd)]
            else :
                raise ValueError("colname should be either 'name' or 'code'.")
            total = pd.concat([total, sub],axis=1)
        total.sort_index(inplace=True)
        
        
        return total

In [172]:
ldr = BSLoader()

In [177]:
%%time
qwe = ldr.BSLoader_v2('2015-01-01','2021-04-01',item='PBR',unit='Y',colname='name')

Note that the date you requested is for the non-PIT-ness data.
Wall time: 41.4 s

In [175]:
%%time
asd = ldr.BSLoader_v4('2015-01-01','2021-04-01',item='PBR',unit='Y',colname='name')

Note that the date you requested is for the non-PIT-ness data.

C:\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-171-c8cf6097377b>:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['value'] = sub['value'].map(lambda x : x / 100000000)

Wall time: 44.2 s

In [123]:
ldr.BSLoader_v2('2015-01-01','2021-04-01',['005930','005940','000040','000020','013890'],item='PBR',unit='Y',colname='name')

Note that the date you requested is for the non-PIT-ness data.

             삼성전자    NH투자증권     KR모터스      동화약품       지누스
2015-12  1.036509  0.624597  3.288639  0.988102       NaN
2016-12  1.313745  0.584150  2.424238  0.896811       NaN
2017-12  1.533595  0.808813  1.353679  0.917251       NaN
2018-12  0.932503  0.726658  0.922619  0.854662       NaN
2019-12  1.267169  0.662802  1.501560  0.771388  3.524155

In [ ]:
"""update test set = (select value from test where code='005930' and date='2019-03' and type='Q' and item='자본총계') / (select value from test where code='005930' and date='2019-03' and type='Q' and item='시가총액') 
                    where code='005930' and date='2019-03' and type='Q' and item='ROE(%)'"""

In [133]:
def IndexCalculator(df, conn):
    errs = []
    cr = conn.cursor()
    for idx, row in df.iterrows():
        try :
            cd = row.code
            dt = row.date
            tp = row.type
            
            tmp_marcap = f"select value from finance_info_copy where code='{cd}' and date='{dt}' and type='{tp}' and itm='시가총액'"
            cr.execute(tmp_marcap)
            tmp_marcap = cr.fetchone()[0]
            tmp_asset = f"select value from finance_info_copy where code='{cd}' and date='{dt}' and type='{tp}' and itm='자산총계'"
            cr.execute(tmp_asset)
            tmp_asset = cr.fetchone()[0]

            tmp_netincome = f"select value from finance_info_copy where code='{cd}' and date='{dt}' and type='{tp}' and itm='당기순이익'"
            cr.execute(tmp_netincome)
            tmp_netincome = cr.fetchone()[0]

            tmp_equity = f"select value from finance_info_copy where code='{cd}' and date='{dt}' and type='{tp}' and itm='자본총계'"
            cr.execute(tmp_equity)
            tmp_equity = cr.fetchone()[0]

            tmp_stocks = f"select value from finance_info_copy where code='{cd}' and date='{dt}' and type='{tp}' and itm='상장주식수'"
            cr.execute(tmp_stocks)
            tmp_stocks = cr.fetchone()[0]

            tmp_ocf = f"select value from finance_info_copy where code='{cd}' and date='{dt}' and type='{tp}' and itm='영업활동현금흐름'"
            cr.execute(tmp_ocf)
            tmp_ocf = cr.fetchone()[0]

            tmp_profit = f"select value from finance_info_copy where code='{cd}' and date='{dt}' and type='{tp}' and itm='영업이익'"
            cr.execute(tmp_profit)
            tmp_profit = cr.fetchone()[0]

            tmp_sales = f"select value from finance_info_copy where code='{cd}' and date='{dt}' and type='{tp}' and itm='매출액'"
            cr.execute(tmp_sales)
            tmp_sales = cr.fetchone()[0]
        
            PBR = tmp_marcap / tmp_equity if tmp_equity != 0 or tmp_equity != None else -999.9
            PER = tmp_marcap / tmp_netincome if tmp_netincome != 0 or tmp_netincome != None else -999.9
            PCR = tmp_marcap / tmp_ocf if tmp_ocf != 0 or tmp_ocf != None else -999.9
            POR = tmp_marcap / tmp_profit if tmp_profit != 0 or tmp_profit != None else -999.9
            PSR = tmp_marcap / tmp_sales if tmp_sales != 0 or tmp_sales != None else -999.9
            ROE = tmp_netincome / tmp_equity if tmp_equity != 0 or tmp_equity != None else -999.9
            ROA = tmp_netincome / tmp_asset if tmp_asset != 0 or tmp_asset != None else -999.9
            EPS = tmp_netincome / tmp_stocks if tmp_stocks != 0 or tmp_stocks != None else -999.9
            BPS = tmp_equity / tmp_stocks if tmp_stocks != 0 or tmp_stocks != None else -999.9
            
            sql = f"insert into finance_info_copy values('{cd}','{dt}','PBR','{tp}',{PBR})"
            cr.execute(sql)
            conn.commit()
            #cr.close()
            sql = f"insert into finance_info_copy values('{cd}','{dt}','PER','{tp}',{PER})"
            cr.execute(sql)
            conn.commit()
            sql = f"insert into finance_info_copy values('{cd}','{dt}','PCR','{tp}',{PCR})"
            cr.execute(sql)
            conn.commit()
            sql = f"insert into finance_info_copy values('{cd}','{dt}','POR','{tp}',{POR})"
            cr.execute(sql)
            conn.commit()
            sql = f"insert into finance_info_copy values('{cd}','{dt}','PSR','{tp}',{PSR})"
            cr.execute(sql)
            conn.commit()
            sql = f"insert into finance_info_copy values('{cd}','{dt}','ROE','{tp}',{ROE})"
            cr.execute(sql)
            conn.commit()
            sql = f"insert into finance_info_copy values('{cd}','{dt}','ROA','{tp}',{ROA})"
            cr.execute(sql)
            conn.commit()
            sql = f"insert into finance_info_copy values('{cd}','{dt}','EPS','{tp}',{EPS})"
            cr.execute(sql)
            conn.commit()
            sql = f"insert into finance_info_copy values('{cd}','{dt}','BPS','{tp}',{BPS})"
            cr.execute(sql)
            conn.commit()
            
            if idx % 1000 == 0:
                print('doing right! :', idx)
        except Exception as e:
            #print(e)
            errs.append([e, idx, row])
            if idx % 300 == 0 :
                print('wrong!!! :',idx)
    #conn.commit()
    print("well done!!")
    return errs

In [134]:
%%time

ers = IndexCalculator(qr3, conn)

wrong!!! : 0
doing right! : 1000
doing right! : 2000
wrong!!! : 2100
wrong!!! : 3000
wrong!!! : 3300
wrong!!! : 3900
doing right! : 4000
wrong!!! : 4200
wrong!!! : 4500
wrong!!! : 5400
doing right! : 6000
wrong!!! : 7500
wrong!!! : 7800
doing right! : 8000
doing right! : 9000
doing right! : 10000
wrong!!! : 12000
wrong!!! : 12600
wrong!!! : 12900
doing right! : 13000
wrong!!! : 13200
doing right! : 14000
wrong!!! : 14100
doing right! : 15000
wrong!!! : 15600
wrong!!! : 16800
doing right! : 17000
wrong!!! : 17400
wrong!!! : 17700
doing right! : 18000
wrong!!! : 18300
doing right! : 19000
wrong!!! : 19200
wrong!!! : 19800
doing right! : 20000
doing right! : 21000
wrong!!! : 21300
wrong!!! : 21900
doing right! : 22000
wrong!!! : 23100
wrong!!! : 23400
wrong!!! : 23700
doing right! : 24000
wrong!!! : 24300
wrong!!! : 24600
well done!!
Wall time: 8min 29s

In [108]:
try :
    print(az)
except Exception as e:
    print(e)

name 'az' is not defined

# 따로 marcap cache를 갖고 있는게 좋겠는데..?

https://stackoverflow.com/questions/13237623/copy-data-into-another-table

https://dmsrbdi123.tistory.com/12

In [13]:
tt = pd.read_sql("select * from finance_info_copy where itm in ('PBR','PER','PCR','POR','PSR','ROE','ROA','EPS','BPS')",conn)

In [14]:
tt.shape

(159085, 5)

In [15]:
tt.head(4)

     code     date  itm type         value
0  000020  2015-12  BPS    Y  8.238020e-05
1  000020  2015-12  EPS    Y  2.004907e-06
2  000020  2015-12  PBR    Y  9.881015e+07
3  000020  2015-12  PCR    Y  1.148294e+09

In [99]:
tt[lambda x : x['itm']=='EPS'].value.values[0] * 100000000

200.49070099067467

In [25]:
tt[(tt.code == '005930')&(tt.itm=='PBR')]

         code     date  itm type         value
20469  005930  2015-12  PBR    Y  1.036509e+08
20478  005930  2016-12  PBR    Y  1.313745e+08
20487  005930  2017-12  PBR    Y  1.533595e+08
20496  005930  2018-12  PBR    Y  9.325029e+07
20505  005930  2019-09  PBR    Q  1.111507e+08
20514  005930  2019-12  PBR    Y  1.267169e+08
20523  005930  2020-03  PBR    Q  1.070084e+08
20532  005930  2020-06  PBR    Q  1.168256e+08
20541  005930  2020-09  PBR    Q  1.258225e+08

In [27]:
tt[(tt.code == '005930')&(tt.itm=='PBR')].loc[20469,'value'] /100000000

1.0365093930630995

In [63]:
tt[(tt.itm=='PER')&(tt.value<=3*100000000)].value.values[100]/100000000

-23.77128265612648

In [33]:
185597164620000.0 / 179059805000000

1.0365093641199934

In [32]:
pd.read_sql("select * from finance_info_copy where code='005930' and itm='시가총액'",conn).loc[23,'value']

185597164620000.0

In [47]:
tt[(tt.code == '005930')&(tt.itm=='PER')&(tt.date=='2015-12')].iloc[0,-1]

973747066.4896827

In [49]:
185597164620000.0 / 19060144000000

9.737448186120734

### 단위정리
* BS data자체가 단위가 1억원 / dart-fss 기준은 백만원 부르면서 나누면 되겠네