# BS scrapping test

* https://shinminyong.tistory.com/15

In [98]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import pandas as pd
import time
import urllib.request
from selenium.webdriver import Chrome
import json, re, sys
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import datetime as dt
import pymysql
import matplotlib.pyplot as plt

In [42]:
connection = pymysql.connect(host='localhost',port=3306, db='INVESTAR',user='root',passwd='tlqkfdk2',autocommit=True)
cursor = connection.cursor()
#comps = pd.read_sql("SELECT * FROM company_info",connection)

In [46]:
cursor.execute("SELECT code, company FROM COMPANY_INFO;")

2411

In [47]:
ls = cursor.fetchall()

In [71]:
ls_code = []
ls_comp = []
for e in range(len(ls)):
    ls_code.append(ls[e][0])
    ls_comp.append(ls[e][1])

In [103]:
ls_code[0]

'000020'

In [ ]:
requests.r

In [73]:
def ttt(xx):
    name = xx
    base_url = 'https://finance.naver.com/item/coinfo.nhn?code='+ name + '&target=finsum_more'
    return base_url

In [74]:
ttt('000060')

'https://finance.naver.com/item/coinfo.nhn?code=000060&target=finsum_more'

In [94]:
def response_checker(code):
    url = base_url = 'https://finance.naver.com/item/coinfo.nhn?code='+ code + '&target=finsum_more'
    #print(url)
    rok = requests.get(url).ok
    return rok

In [95]:
for cd in ls_code:
    if not response_checker(cd):
        print("error",cd)

In [104]:
s1 = 'https://finance.naver.com/item/coinfo.nhn?code={}&target=finsum_more'

In [106]:
s1.format('000040')

'https://finance.naver.com/item/coinfo.nhn?code=000040&target=finsum_more'

##### 일단 모든 종목은 다 있네 네이버 금융에

### WTD

1) all finance bs data
2) + evitda
3) 시가총액
4) 수정종가는...? 어디랬지

In [99]:
class BSCrawler:
    def __init__(self, argv):
        """Naver Finance : Financial Summary Crawler"""
        self.driver_path = "C:/Users/Bae Kyungmo/OneDrive/Desktop/WC_basic/chromedriver.exe"
        self.conn = pymysql.connect(host='localhost',user='root',
                                   password='tlqkfdk2',db='INVESTAR',charset='utf8')
        with self.conn.cursor() as curs:
            #sql = """
            #CREATE TABLE IF NOT EXISTS company_info (
            #    code VARCHAR(20),
            #    company VARCHAR(40),
            #    last_update DATE,
            #    PRIMARY KEY (code))
            #"""
            #curs.execute(sql)
            
            sql_load = """
            SELECT CODE, COMPANY FROM COMPANY_INFO
            """
            curs.execute(sql_load)
            comps_ls = curs.fetchall()
            self.codes = [str(e[0]) for e in comps_ls]
            self.comps = [str(e[1]) for e in comps_ls]
            
        self.conn.commit()
        
        self.url = 'https://finance.naver.com/item/coinfo.nhn?code={}&target=finsum_more'
        
    def __del__(self):
        """Disconnecting MariaDB"""
        self.conn.close()
        
    def crawler(self):
        browser = Chrome(self.driver_path)
        for cds in self.codes[:5]:
            url = self.url.format(cds)
            requests.get(url).raise_for_status()
            browser.get(url)
            browser.switch_to_frame(browser.find_element_by_id('coinfo_cp'))
            print("Crwaling *Annual* Financial Summary...")
            browser.find_elements_by_xpath('//*[@id="cns_Tab21"]')[0].click()
            html = BeautifulSoup(browser.page_source, 'html.parser')
            html_Y = html.find('table',{'class':'gHead01 all-width','summary':'주요재무정보를 제공합니다.'}) 
            html_tmp = html_Y.find('thead').find_all('tr')[1].find_all('th',attrs={"class":re.compile("^r03c")})
            dates = [''.join(re.findall('[0-9/]',html_tmp[i].text)) for i in range(len(html_tmp))]
            html_tmp = html_Y.find('tbody').find_all('tr')
            cols = []
            for i in range(len(html_tmp)):
                if '\xa0' in html_tmp[i].find('th').text:
                    tx = re.sub('\xa0','',html_tmp[i].find('th').text)
                else:
                    tx = html_tmp[i].find('th').text
                cols.append(tx)
            values = []
            for i in range(len(html_tmp)):
                tmp = html_tmp[i].find_all('td')
                value_tmp = []
                for j in range(len(td0)):
                    if tmp[j].text == '':
                        value_tmp.append(0.0)
                    else:
                        value_tmp.append(float(tmp[j].text.replace(',','')))

                values.append(td1)
            df = pd.DataFrame(data=values, columns=date, index=col)
            
if __name__ == '__main__':
    print("Starting BS Crawler...")
    argument = sys.argv
    del argument[0]
    print("Mode you requested : {}".format(argument[0]))
    bs_crawler = BSCrawler(argument[0])

Starting BS Crawler...
Mode you requested : -f
-f

In [107]:
html22 = html1.find('table',{'class':'gHead01 all-width','summary':'주요재무정보를 제공합니다.'})

In [ ]:
//*[@id="bG05RlB6cn"]/table[2]/thead/tr[2]/th[1]/text()

In [143]:
aa = html22.find('thead').find_all('tr')[1].find_all('th',attrs={"class":re.compile("^r03c")})#[0]#get_text()

In [ ]:
date = []
for i in range(len(th0)):
    date.append(''.join(re.findall('[0-9/]',th0[i].text)))

In [144]:
aa2 = []
for i in range(len(aa)):
    aa2.append(''.join(re.findall('[0-9/]',aa[i].text)))

In [150]:
aa2

['2019/09',
 '2019/12',
 '2020/03',
 '2020/06',
 '2020/09',
 '2020/12',
 '2021/03',
 '2021/06']

In [ ]:
tbody0 = html22.find('tbody') #tbody에 column으로 사용할 데이터와 본문 데이터가 모두 담겨져 있다.
tr0 = tbody0.find_all('tr')

In [155]:
z = html22.find('tbody').find_all('tr')

In [175]:
float(z[0].find_all('td')[0].text.replace(',',''))

26758.0

In [ ]:
td = []
for i in range(len(tr0)):
    td0 = tr0[i].find_all('td')
    td1 = []
    for j in range(len(td0)):
        if td0[j].text == '':
            td1.append('0')
        else:
            td1.append(td0[j].text)
            
    td.append(td1)

In [163]:
col = []
for i in range(len(tr0)):
    
    if '\xa0' in tr0[i].find('th').text:
        print(i)
        tx = re.sub('\xa0','',tr0[i].find('th').text)
        print(tr0[i].find('th').text)
    else:
        tx = tr0[i].find('th').text
        
    col.append(tx)

5
  당기순이익(지배)
6
  당기순이익(비지배)
10
  자본총계(지배)
11
  자본총계(비지배)

In [166]:
tr0[5].find('th').text

'\xa0\xa0당기순이익(지배)'

In [9]:
browser = Chrome("C:/Users/Bae Kyungmo/OneDrive/Desktop/WC_basic/chromedriver.exe")

In [10]:
browser.maximize_window()

In [11]:
browser.get('https://finance.naver.com/item/coinfo.nhn?code=000060&target=finsum_more')

In [12]:
browser.switch_to_frame(browser.find_element_by_id('coinfo_cp'))

c:\python\python36\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: use driver.switch_to.frame instead
  """Entry point for launching an IPython kernel.

In [13]:
browser.find_elements_by_xpath('//*[@class="schtab"][1]/tbody/tr/td[3]')[0].click()

In [ ]:
//*[@id="cns_Tab21"]

In [14]:
browser.find_elements_by_xpath('//*[@id="cns_Tab22"]')[0].click()

In [15]:
html0 = browser.page_source

In [17]:
html1 = BeautifulSoup(html0, 'html.parser')

In [21]:
html1.find('head').find('title').text

'온라인기업정보 - 기업모니터 - 기업개요(메리츠화재)'

In [26]:
title0 = html1.find('head').find('title').text

In [25]:
html1.find_all('span',attrs={"class":"cBk"})[1].get_text()

'26,758'

In [27]:
title0.split('-')[-1]

' 기업개요(메리츠화재)'

In [28]:
html22 = html1.find('table',{'class':'gHead01 all-width','summary':'주요재무정보를 제공합니다.'})

In [30]:
thead0 = html22.find('thead') #날짜가 재무제표영역의 head부분에 들어가 있기 때문에 thead를 불러와야 한다.
tr0 = thead0.find_all('tr')[1] #존재하고 있는 날짜대로 findall로 모두 수집
th0 = tr0.find_all('th')
#날짜부분만 따로 저장
date = []
for i in range(len(th0)):
    date.append(''.join(re.findall('[0-9/]',th0[i].text)))

In [31]:
date

['2019/09',
 '2019/12',
 '2020/03',
 '2020/06',
 '2020/09',
 '2020/12',
 '2021/03',
 '2021/06']

In [32]:
tbody0 = html22.find('tbody') #tbody에 column으로 사용할 데이터와 본문 데이터가 모두 담겨져 있다.
tr0 = tbody0.find_all('tr')

In [33]:
col = []
for i in range(len(tr0)):
    
    if '\xa0' in tr0[i].find('th').text:
        tx = re.sub('\xa0','',tr0[i].find('th').text)
    else:
        tx = tr0[i].find('th').text
        
    col.append(tx)

In [34]:
col

['매출액',
 '영업이익',
 '영업이익(발표기준)',
 '세전계속사업이익',
 '당기순이익',
 '당기순이익(지배)',
 '당기순이익(비지배)',
 '자산총계',
 '부채총계',
 '자본총계',
 '자본총계(지배)',
 '자본총계(비지배)',
 '자본금',
 '영업활동현금흐름',
 '투자활동현금흐름',
 '재무활동현금흐름',
 'CAPEX',
 'FCF',
 '이자발생부채',
 '영업이익률',
 '순이익률',
 'ROE(%)',
 'ROA(%)',
 '부채비율',
 '자본유보율',
 'EPS(원)',
 'PER(배)',
 'BPS(원)',
 'PBR(배)',
 '현금DPS(원)',
 '현금배당수익률',
 '현금배당성향(%)',
 '발행주식수(보통주)']

In [35]:
td = []
for i in range(len(tr0)):
    td0 = tr0[i].find_all('td')
    td1 = []
    for j in range(len(td0)):
        if td0[j].text == '':
            td1.append('0')
        else:
            td1.append(td0[j].text)
            
    td.append(td1)

In [36]:
td

[['26,758', '26,568', '28,811', '27,111', '27,400', '0', '0', '0'],
 ['1,022', '322', '1,463', '1,462', '1,545', '0', '0', '0'],
 ['1,022', '322', '1,463', '1,462', '1,545', '0', '0', '0'],
 ['1,021', '943', '1,462', '1,470', '1,531', '0', '0', '0'],
 ['749', '678', '1,036', '1,062', '1,110', '0', '0', '0'],
 ['748', '675', '1,027', '1,066', '1,108', '0', '0', '0'],
 ['1', '3', '9', '-4', '2', '0', '0', '0'],
 ['230,796', '232,157', '241,048', '247,637', '250,785', '249,145', '0', '0'],
 ['201,770', '207,751', '216,468', '221,635', '223,429', '222,675', '0', '0'],
 ['29,026', '24,405', '24,580', '26,001', '27,356', '26,525', '0', '0'],
 ['28,945', '24,324', '24,499', '25,914', '27,272', '26,480', '0', '0'],
 ['0', '0', '81', '88', '84', '0', '0', '0'],
 ['568', '568', '568', '568', '568', '0', '0', '0'],
 ['4,282', '3,549', '-3,477', '1,330', '4,850', '0', '0', '0'],
 ['-3,816', '-6,830', '4,705', '-3,150', '-1,885', '0', '0', '0'],
 ['-49', '2,428', '424', '106', '-3,133', '0', '0', '0'],
 ['45', '75', '22', '39', '12', '0', '0', '0'],
 ['0', '0', '0', '0', '0', '0', '0', '0'],
 ['6,346', '8,840', '10,335', '10,337', '7,479', '0', '0', '0'],
 ['3.82', '1.21', '5.08', '5.39', '5.64', '0', '0', '0'],
 ['2.80', '2.55', '3.60', '3.92', '4.05', '0', '0', '0'],
 ['11.16', '12.76', '13.68', '13.27', '13.79', '0', '0', '0'],
 ['1.27', '1.38', '1.47', '1.50', '1.61', '0', '0', '0'],
 ['695.14', '851.25', '880.67', '852.40', '816.76', '839.49', '0', '0'],
 ['5,082.28', '4,269.42', '4,310.69', '4,560.77', '4,799.00', '0', '0', '0'],
 ['658', '594', '904', '938', '974', '0', '0', '0'],
 ['8.05', '6.75', '4.20', '4.09', '3.77', '0', '0', '0'],
 ['25,964', '21,819', '22,055', '23,329', '24,552', '22,436', '0', '0'],
 ['0.74', '0.82', '0.55', '0.54', '0.52', '0.66', '0', '0'],
 ['0', '850', '0', '0', '0', '0', '0', '0'],
 ['0', '0', '0', '0', '0', '0', '0', '0'],
 ['0.00', '140.34', '0.00', '0.00', '0.00', '0', '0', '0'],
 ['113,680,000',
  '113,680,000',
  '113,680,000',
  '113,680,000',
  '113,680,000',
  '0',
  '0',
  '0']]

In [37]:
td2 = list(map(list,zip(*td)))

In [39]:
pd.DataFrame(td2)

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,"26,758","1,022","1,022","1,021",749,748,1,"230,796","201,770","29,026",...,695.14,"5,082.28",658,8.05,"25,964",0.74,0,0,0.00,"113,680,000"
1,"26,568",322,322,943,678,675,3,"232,157","207,751","24,405",...,851.25,"4,269.42",594,6.75,"21,819",0.82,850,0,140.34,"113,680,000"
2,"28,811","1,463","1,463","1,462","1,036","1,027",9,"241,048","216,468","24,580",...,880.67,"4,310.69",904,4.20,"22,055",0.55,0,0,0.00,"113,680,000"
3,"27,111","1,462","1,462","1,470","1,062","1,066",-4,"247,637","221,635","26,001",...,852.40,"4,560.77",938,4.09,"23,329",0.54,0,0,0.00,"113,680,000"
4,"27,400","1,545","1,545","1,531","1,110","1,108",2,"250,785","223,429","27,356",...,816.76,"4,799.00",974,3.77,"24,552",0.52,0,0,0.00,"113,680,000"
5,0,0,0,0,0,0,0,"249,145","222,675","26,525",...,839.49,0,0,0,"22,436",0.66,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [177]:
pd.DataFrame(td,columns=date,index=col)

,2019/09,2019/12,2020/03,2020/06,2020/09,2020/12,2021/03,2021/06
매출액,"26,758","26,568","28,811","27,111","27,400",0,0,0
영업이익,"1,022",322,"1,463","1,462","1,545",0,0,0
영업이익(발표기준),"1,022",322,"1,463","1,462","1,545",0,0,0
세전계속사업이익,"1,021",943,"1,462","1,470","1,531",0,0,0
당기순이익,749,678,"1,036","1,062","1,110",0,0,0
당기순이익(지배),748,675,"1,027","1,066","1,108",0,0,0
당기순이익(비지배),1,3,9,-4,2,0,0,0
자산총계,"230,796","232,157","241,048","247,637","250,785","249,145",0,0
부채총계,"201,770","207,751","216,468","221,635","223,429","222,675",0,0
자본총계,"29,026","24,405","24,580","26,001","27,356","26,525",0,0
자본총계(지배),"28,945","24,324","24,499","25,914","27,272","26,480",0,0
자본총계(비지배),0,0,81,88,84,0,0,0
자본금,568,568,568,568,568,0,0,0
영업활동현금흐름,"4,282","3,549","-3,477","1,330","4,850",0,0,0
투자활동현금흐름,"-3,816","-6,830","4,705","-3,150","-1,885",0,0,0
재무활동현금흐름,-49,"2,428",424,106,"-3,133",0,0,0
CAPEX,45,75,22,39,12,0,0,0
FCF,0,0,0,0,0,0,0,0
이자발생부채,"6,346","8,840","10,335","10,337","7,479",0,0,0
영업이익률,3.82,1.21,5.08,5.39,5.64,0,0,0
순이익률,2.80,2.55,3.60,3.92,4.05,0,0,0
ROE(%),11.16,12.76,13.68,13.27,13.79,0,0,0
ROA(%),1.27,1.38,1.47,1.50,1.61,0,0,0
부채비율,695.14,851.25,880.67,852.40,816.76,839.49,0,0
자본유보율,"5,082.28","4,269.42","4,310.69","4,560.77","4,799.00",0,0,0
EPS(원),658,594,904,938,974,0,0,0
PER(배),8.05,6.75,4.20,4.09,3.77,0,0,0
BPS(원),"25,964","21,819","22,055","23,329","24,552","22,436",0,0
PBR(배),0.74,0.82,0.55,0.54,0.52,0.66,0,0
현금DPS(원),0,850,0,0,0,0,0,0
현금배당수익률,0,0,0,0,0,0,0,0
현금배당성향(%),0.00,140.34,0.00,0.00,0.00,0,0,0
발행주식수(보통주),"113,680,000","113,680,000","113,680,000","113,680,000","113,680,000",0,0,0

In [196]:
class BSCrawler:
    def __init__(self, argv):
        """Naver Finance : Financial Summary Crawler"""
        self.driver_path = "C:/Users/Bae Kyungmo/OneDrive/Desktop/WC_basic/chromedriver.exe"
        self.conn = pymysql.connect(host='localhost',user='root',
                                   password='tlqkfdk2',db='INVESTAR',charset='utf8')
        with self.conn.cursor() as curs:
            #sql = """
            #CREATE TABLE IF NOT EXISTS company_info (
            #    code VARCHAR(20),
            #    company VARCHAR(40),
            #    last_update DATE,
            #    PRIMARY KEY (code))
            #"""
            #curs.execute(sql)
            
            sql_load = """
            SELECT CODE, COMPANY FROM COMPANY_INFO
            """
            curs.execute(sql_load)
            comps_ls = curs.fetchall()
            self.codes = [str(e[0]) for e in comps_ls]
            self.comps = [str(e[1]) for e in comps_ls]
            
        self.conn.commit()
        
        self.url = 'https://finance.naver.com/item/coinfo.nhn?code={}&target=finsum_more'
        
    def __del__(self):
        """Disconnecting MariaDB"""
        self.conn.close()
        
    def crawler(self):
        browser = Chrome(self.driver_path)
        t=[]
        for cds in self.codes[:5]:
            url = self.url.format(cds)
            requests.get(url).raise_for_status()
            browser.get(url)
            browser.switch_to_frame(browser.find_element_by_id('coinfo_cp'))
            print("Crwaling *Annual* Financial Summary...")
            browser.find_elements_by_xpath('//*[@id="cns_Tab21"]')[0].click()
            html = BeautifulSoup(browser.page_source, 'html.parser')
            html_Y = html.find('table',{'class':'gHead01 all-width','summary':'주요재무정보를 제공합니다.'}) 
            html_tmp = html_Y.find('thead').find_all('tr')[1].find_all('th',attrs={"class":re.compile("^r03c")})
            dates = [''.join(re.findall('[0-9/]',html_tmp[i].text)) for i in range(len(html_tmp))]
            html_tmp = html_Y.find('tbody').find_all('tr')
            cols = []
            for i in range(len(html_tmp)):
                if '\xa0' in html_tmp[i].find('th').text:
                    tx = re.sub('\xa0','',html_tmp[i].find('th').text)
                else:
                    tx = html_tmp[i].find('th').text
                cols.append(tx)
            values = []
            for i in range(len(html_tmp)):
                tmp = html_tmp[i].find_all('td')
                value_tmp = []
                for j in range(len(tmp)):
                    try :
                        if tmp[j].text == '':
                            value_tmp.append(0.0)
                        else:
                            value_tmp.append(float(tmp[j].text.replace(',','')))
                    except :
                        value_tmp.append(-1.0)

                values.append(value_tmp)
            df = pd.DataFrame(data=values, columns=date, index=col)
            t.append(df)
        return t

In [ ]:
td = []
for i in range(len(tr0)):
    td0 = tr0[i].find_all('td')
    td1 = []
    for j in range(len(td0)):
        if td0[j].text == '':
            td1.append('0')
        else:
            td1.append(td0[j].text)
            
    td.append(td1)

In [197]:
bb = BSCrawler('full')

In [198]:
rest = bb.crawler()

-f:40: DeprecationWarning: use driver.switch_to.frame instead

Crwaling *Annual* Financial Summary...
Crwaling *Annual* Financial Summary...
Crwaling *Annual* Financial Summary...
Crwaling *Annual* Financial Summary...
Crwaling *Annual* Financial Summary...

In [199]:
len(rest)

5

In [203]:
rest[1]

,2019/09,2019/12,2020/03,2020/06,2020/09,2020/12,2021/03,2021/06
매출액,807.00,848.00,417.00,366.00,1326.00,0.0,0.0,0.0
영업이익,-161.00,-81.00,-260.00,-163.00,-246.00,0.0,0.0,0.0
영업이익(발표기준),-156.00,-75.00,-260.00,-163.00,-246.00,0.0,0.0,0.0
세전계속사업이익,-167.00,-98.00,-387.00,-244.00,-405.00,0.0,0.0,0.0
당기순이익,-166.00,-100.00,-315.00,-244.00,-410.00,0.0,0.0,0.0
당기순이익(지배),-166.00,-100.00,-307.00,-234.00,-405.00,0.0,0.0,0.0
당기순이익(비지배),0.00,0.00,-8.00,-11.00,-6.00,0.0,0.0,0.0
자산총계,1576.00,1489.00,1084.00,1549.00,1441.00,0.0,0.0,0.0
부채총계,898.00,861.00,632.00,850.00,1089.00,0.0,0.0,0.0
자본총계,677.00,627.00,452.00,699.00,352.00,0.0,0.0,0.0
자본총계(지배),677.00,584.00,419.00,529.00,185.00,0.0,0.0,0.0
자본총계(비지배),0.00,43.00,33.00,0.00,0.00,0.0,0.0,0.0
자본금,877.00,881.00,599.00,947.00,947.00,0.0,0.0,0.0
영업활동현금흐름,-195.00,-94.00,-47.00,-134.00,-71.00,0.0,0.0,0.0
투자활동현금흐름,-143.00,129.00,-62.00,-99.00,73.00,0.0,0.0,0.0
재무활동현금흐름,396.00,-6.00,33.00,473.00,-155.00,0.0,0.0,0.0
CAPEX,44.00,22.00,5.00,6.00,5.00,0.0,0.0,0.0
FCF,-238.00,-115.00,-52.00,-140.00,-76.00,0.0,0.0,0.0
이자발생부채,611.00,624.00,509.00,473.00,714.00,0.0,0.0,0.0
영업이익률,-19.91,-9.60,-62.48,-44.46,-18.59,0.0,0.0,0.0
순이익률,-20.58,-11.77,-75.61,-66.85,-30.96,0.0,0.0,0.0
ROE(%),-29.24,-15.82,-61.25,-49.31,-113.29,0.0,0.0,0.0
ROA(%),-11.28,-6.51,-24.48,-18.56,-27.45,0.0,0.0,0.0
부채비율,132.57,137.27,139.80,121.62,309.20,0.0,0.0,0.0
자본유보율,-15.03,-26.42,-16.64,-35.08,-86.23,0.0,0.0,0.0
EPS(원),-642.00,-357.00,-1067.00,-755.00,-855.00,0.0,0.0,0.0
PER(배),-1.00,-1.00,-1.00,-1.00,-1.00,0.0,0.0,0.0
BPS(원),2430.00,2085.00,1399.00,1117.00,392.00,0.0,0.0,0.0
PBR(배),2.54,2.01,1.13,1.45,2.31,0.0,0.0,0.0
현금DPS(원),0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0
현금배당수익률,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0
현금배당성향(%),0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0
발행주식수(보통주),27879242.00,28009918.00,29939917.00,47361019.00,47361019.00,0.0,0.0,0.0

### WTD : 일단 성공!

1) Annaul, Quarter 2개 구현

2) h5로 파일 만들고 파일명으로 접근해서 loader를 만들기

3) last_update_date로 update하는 방식 -> 주식가격 그 쪽도 그렇게 하자

4) loader에서 YoY, QoQ도 구현

https://shinminyong.tistory.com/15