In [2]:
#Importing requests to read json later...
import requests
import pandas as pd
#Need to import lxml in order to get the xpath of a dcm_no 
from lxml import html
#Just in case we need RegEx...
import re

%load_ext autoreload
%autoreload 2

from utils import *

from subprocess import call

from fake_useragent import UserAgent

In [2]:
with open('api_key.txt','r') as f:
    API_KEY = f.read()

FileNotFoundError: [Errno 2] No such file or directory: 'api_key.txt'

In [3]:
API_KEY = '34498c52b5674a6014154edbaa30d2739f265da7'

In [8]:
company_codes = pd.read_excel('상장법인목록.xlsx',converters={'종목코드':str})

In [10]:
name_input = input('Please write company name here | 회사명을 입력해주세요: ')

Please write company name here | 회사명을 입력해주세요:  삼성전자

In [11]:
while len(company_codes[company_codes.회사명 ==  name_input]) == 0:
    print('The company name entered does not exist. | 해당 이름의 회사명이 존재하지 않습니다. \nPlease find below for suggestions and re-type the company name | 아래 회사명 중 하나를 찾으시나요? 다시 입력해주세요.\n')
    for row in company_codes.회사명:
        if row.find(name_input) != -1:
            print(row)
    name_input = input()
code = company_codes[company_codes.회사명 == name_input].종목코드.iloc[0]
print("Company name | 회사명: "+name_input+"\nCompany code | 종목코드: "+code)

Company name | 회사명: 삼성전자
Company code | 종목코드: 5930

In [12]:
start_date = '19560101'
#Document type: Annual report (사업보고서)
bsn_tp = 'A001'

In [15]:
code = '{:06d}'.format(int(code))

In [16]:
code

'005930'

In [17]:
url = "http://dart.fss.or.kr/api/search.json?auth="+API_KEY+"&crp_cd="+code+"&start_dt="+start_date+"&bsn_tp="+bsn_tp+"&fin_rpt=Y&page_set=100"

In [23]:
url

'http://dart.fss.or.kr/api/search.json?auth=34498c52b5674a6014154edbaa30d2739f265da7&crp_cd=005930&start_dt=19560101&bsn_tp=A001&fin_rpt=Y&page_set=100'

In [18]:
ua = UserAgent()
headers = {'User-Agent':ua.chrome}

In [19]:
a = requests.get(url,headers=headers).json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [20]:
urldict = {}
for row in a['list']:
    url2 = "http://dart.fss.or.kr/dsaf001/main.do?rcpNo="
    name = row['rpt_nm']
    #Getting rid of the pre-amble that's irrelevant
    #[기재정정] [첨부추가] [첨부정정] 등 앞에 붙은 것을 제거해봅시다
    if name.find('[') != -1:
        name = name.split(']')[1]
    urldict[name] = url2+row['rcp_no']
    print(name+": "+url2+row['rcp_no'])

NameError: name 'a' is not defined

---

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import time

In [24]:
href = 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20100331001680'

In [32]:
html = urlopen(href) # 반기보고서 url

# 반기보고서 url로 반기보고서 html 호출
bsobjt = BeautifulSoup(html,"html.parser") 

# main url을 통해 html 호출하여 파싱 
body = str(bsobjt.find('head'))
body = body.split('요약재무정보",')[0] # input2
body = body.split('cnt++')[0]
body = body.split('viewDoc(')[1]
body = body.split(')')[0]
body = body.split(', ')
body = [body[i][1:-1] for i in range(len(body))]

# 요약재무정보 url 생성
url_final = 'http://dart.fss.or.kr/report/viewer.do?rcpNo=' + body[0] + '&dcmNo=' + body[1] + '&eleId=' + body[2] + '&offset=' + body[3] +'&length=' + body[4] + '&dtd=dart3.xsd'

# 요약재무정보 html 가지고 오기
html_final = urlopen(url_final)
bsobjt_final = BeautifulSoup(html_final,"html.parser")


# html 파싱을 통해 표 생성
ls_bf = bsobjt_final.findAll('tr')
_df_rlt = pd.DataFrame(columns = ['gubun','year_1','year_2','year_3'])
for i in ls_bf:
    _ls = []
    for j in i.findAll('td'):
        str_j = str(j)
        str_j = str_j.replace('[', '')
        str_j = str_j.replace(']', '')
        str_j = str_j.replace('\xa0ㆍ', '')
        if str_j.split('<')==3:
            _ls = _ls + ''
        else:
            _ls = _ls + [str_j.split('<')[1].split('>')[1]]
    if len(_ls) !=4:
        pass
    else :
        _df_rlt = _df_rlt.append(pd.DataFrame(data = [_ls] , columns = ['gubun','year_1','year_2','year_3']))
_df_rlt.reset_index(drop=True,inplace=True)

In [34]:
url_final

'http://dart.fss.or.kr/report/viewer.do?rcpNo=20100331001680&dcmNo=2591647&eleId=ul&offset=ul&length=ul&dtd=dart3.xsd'

In [35]:
aa = 'http://dart.fss.or.kr/report/viewer.do?rcpNo=20180402005019&dcmNo=6060273&eleId=13&offset=642452&length=115790&dtd=dart3.xsd'

In [43]:
html = urlopen(aa) # 반기보고서 url

# 반기보고서 url로 반기보고서 html 호출
bsobjt = BeautifulSoup(html,"html.parser")

In [57]:
bsobjt.find_all('tr')[28]

<tr>
<td height="20" width="285">
<p>　자산총계</p>
</td>
<td align="RIGHT" height="20" width="124">
<p>301,752,090</p>
</td>
<td align="RIGHT" height="20" width="150">
<p>262,174,324</p>
</td>
<td align="RIGHT" height="20" width="150">
<p>242,179,521</p>
</td>
</tr>

In [58]:
'자산총계' in bsobjt.find_all('tr')[28]

False

In [61]:
'자산총계' in bsobjt.find_all('tr')[28].text

True

In [62]:
len(bsobjt.find_all('tr'))

220

In [65]:
for i in range(len(bsobjt.find_all('tr'))):
    if '영업활동 현금흐름' in bsobjt.find_all('tr')[i].text:
        print(i, bsobjt.find_all('tr')[i].text)

180

영업활동 현금흐름


62,162,041


47,385,644


40,061,761

In [69]:
bsobjt.find_all('tr')[180].text

'\n\n영업활동 현금흐름\n\n\n62,162,041\n\n\n47,385,644\n\n\n40,061,761\n\n'

### 이것만 가져올 수 있으면 가능한거 아닌가..?

---

In [10]:
#from bs4 import BeautifulSoup                            # for html parser
from urllib.request import urlopen                       # for html request/respone
import pandas as pd                                      # for DataFrame
from html_table_parser import parser_functions as parser # for parsing

#API_KEY = ""     # API 이용에 필요한 인증번호
COMPANY_CODE = input("기업종목코드 6자리 : ")

기업종목코드 6자리 :  005930

In [20]:
def searching_report() :                    
    SEARCH_URL = "http://dart.fss.or.kr/api/search.xml?auth=" + API_KEY + "&crp_cd=" + COMPANY_CODE
    SEARCH_URL = SEARCH_URL + "&start_dt=19990101&bsn_tp=A001&fin_rpt=Y"    #검색날짜 범위 / 사업보고서 / 최종보고서만
    XML_RESULT = BeautifulSoup(urlopen(SEARCH_URL).read(), 'html.parser')
    print(XML_RESULT)
    #XML_RESULT = BeautifulSoup(urlopen(SEARCH_URL).read(), 'html5lib')
    
    find_list = XML_RESULT.findAll("list")  # list태그를 모두 탐색
    data = pd.DataFrame()                   # 데이터를 저장할 프레임 선언
    for t in find_list :                    # 나열번호, 기업명, 기업번호, 보고서명, 보고서번호, 제출인,  접수일자, 비고
        temp = pd.DataFrame(([[t.crp_cls.string, t.crp_nm.string, t.crp_cd.string, t.rpt_nm.string,
                t.rcp_no.string, t.flr_nm.string, t.rcp_dt.string, t.rmk.string]]),
                columns = ["crp_cls", "crp_nm", "crp_cd", "rpt_nm", "rcp_no", "flr_nm", "rcp_dt", "rmk"])
        data = pd.concat([data, temp])
    
    if len(data) < 1 :                      # 검색 결과가 없을 시.
        return None

    del data['crp_cls']
    del data['crp_cd']                      # 나열번호, 기업번호 제거 (불필요)
    data = data.reset_index(drop=True)

    return data

In [21]:
searching_report()

<meta content="0;url=http://dart.fss.or.kr/html/error1.htm" http-equiv="refresh">
</meta>

In [6]:
def fs_page() :
    data = searching_report()
    if len(data) < 1 :
        print("!!!! 실패 : 사업보고서 검색 결과 없음.")
        return 0

    document_count = 0

    for i in range(len(data)) :
        MAIN_URL = "http://dart.fss.or.kr/dsaf001/main.do?rcpNo=" + data['rcp_no'][document_count]
        link_flag = 1
        indi_flag = 1

        page = BeautifulSoup(urlopen(MAIN_URL).read(), 'html.parser')
        #page = BeautifulSoup(urlopen(MAIN_URL).read(), 'html5lib')
        
        body = str(page.find('head'))
### 최근에 작성된 사업보고서들이 접근했을 때 동작을 성공할 수 있는 영역
        if len(body.split('연결재무제표",')) <= 1 :             # 연결재무제표 탐색 시작
            if len(body.split('연 결 재 무 제 표",')) >=2 : 
                body = body.split('연 결 재 무 제 표",')[1]     # "연 결 재 무 제 표" 로 발견
                link_page_1 = '연결재무제표'
            else :                                             # 실패시 경고 문구
                print("!!!! 실패 : " + data['rpt_nm'][document_count] + " / '연결재무제표' 페이지 탐색 실패함.")
                link_flag = 0         #연결 재무제표 없음
        else :
            body = body.split('연결재무제표",')[1]              # "연결재무제표" 로 발견
            link_page_1 = '연결재무제표'
        
        indi_body = body        
        if len(indi_body.split('재무제표",')) <= 1:             # 개별재무제표 탐색 시작
            if len(indi_body.split('재 무 제 표",')) >= 2:
                indi_body = indi_body.split('재 무 제 표",')[1] # "재 무 제 표" 로 발견
                indi_page_1 = '재무제표'
            else :                                             # 실패시 경고 문구
                print("!!!! 실패 : " + data['rpt_nm'][document_count] + " / '재무제표' 페이지 탐색 실패함.")
                indi_flag = 0           #개별 재무제표 없음
        else :
            indi_body = indi_body.split('재무제표",')[1]        # "재무제표" 로 발견
            indi_page_1 = '재무제표'

### 오래전에 작성된 사업보고서들이 상기 영역에서 실패 후 접근했을 때 동작을 성공할 수 있는 영역
        if(link_flag == 0 and indi_flag == 0) :                       # 만약 오래된 사업보고서임이 판별 된 경우
            old_body = body
            if len(old_body.split('재무제표 등",')) <= 1 :             # 오래된 사업보고서 재무제표 탐색 시작
                if len(old_body.split('재 무 제 표 등",')) >=2 : 
                    old_body = old_body.split('재 무 제 표 등",')[1]   # "재 무 제 표 등" 으로 발견
                    old_page_1 = '재무제표 등'
                else :                                                # 실패시 경고 문구
                    print("!!!! 실패 : " + data['rpt_nm'][document_count] + " / '재무제표 등' 페이지 탐색 실패함.")
                    continue                                     ###### 다음 사업보고서로 강제 이동
            else :
                old_body = old_body.split('재무제표 등",')[1]          # "재무제표 등" 으로 발견
                old_page_1 = '재무제표 등'
        
            old_table(old_body, data, document_count, old_page_1)     # 오래된 사업보고서용 함수 호출
            document_count += 1
            continue                                             ###### 다음 사업보고서로 강제 이동

        if(link_flag == 1) : fs_table(body, data, document_count, link_page_1)      # 연결 재무제표가 있으면
        if(indi_flag == 1) : fs_table(indi_body, data, document_count, indi_page_1) # 개별 재무제표가 있으면
        document_count += 1

    return

In [7]:
def fs_table(body, data, document_count, page_1) :
    body = body.split('cnt++')[0].split('viewDoc(')[1].split(')')[0].split(', ')
    body = [body[i][1:-1] for i in range(len(body))]       # 찾아낸 재무제표 페이지로 이동하기 위한 url구성 번호 파싱
    VIEWER_URL = "http://dart.fss.or.kr/report/viewer.do?rcpNo=" + body[0] \
                + '&dcmNo=' + body[1] + '&eleId=' + body[2] + '&offset=' + body[3] \
                + '&length=' + body[4] + '&dtd=dart3.xsd'

    table_attribute = BeautifulSoup(urlopen(VIEWER_URL).read(), 'html.parser')
    table_attribute = table_attribute.find('table') # 가장 먼저 등장하는 table태그 기준 가져오기
    pt = parser.make2d(table_attribute)             # list로 변환저장 - 과정에서 다른 불필요한 태그들 자동 제거
    table_attribute = pd.DataFrame(pt)              # DataFrame으로 변환하여 다시저장
    
    table_attribute = table_attribute.applymap(lambda x: x.replace('\xa0','').replace('\xa9','')) #인코딩을 위해 공백을 의미하는 특수문자열 제거
    table_attribute.to_csv('C:\\Users\\admin\\Desktop\\Test_Result\\' + data['crp_nm'][0] + "(" + COMPANY_CODE
                + ") " + data['rpt_nm'][document_count] +'.csv', encoding='cp949', header=False, index=False, mode='a')
                #header를 통해 column명 표기X, index를 통해 row명 표기X, mode w로 파일 덮어쓰기식 생성

    page = BeautifulSoup(urlopen(VIEWER_URL).read(), 'html.parser')
    if len(str(page.find('body')).split('재 무 상 태 표')) == 1 :   # 재무상태표 탐색 시작
        if len(str(page.find('body')).split('재무상태표')) <= 1 :   # 재무상태표를 찾아내지 못한다면 프로그램 종료
            print("!!!! 실패 : " + data['rpt_nm'][document_count] + " / " + page_1 + " / " + "재무상태표 탐색 실패.")
            return
        else :
            body = str(page.find('body')).split('재무상태표')[1]    # "재무상태표" 로 발견
            page_2 = '재무상태표'
    else : 
        body = str(page.find('body')).split('재 무 상 태 표')[1]    # "재 무 상 태 표" 로 발견
        page_2 = '재무상태표'
    
    body = BeautifulSoup(body, 'html.parser')                       # 찾아낸 재무상태표를 읽어내기 위해 파싱
    print("탐색 성공 : " + data['rpt_nm'][document_count] + " / " + page_1 + " / " + page_2)
    table = body.find_all('table')  # table 태그 탐색
    if len(table) <= 1 :            # 탐색 실패시 프로그램 종료
        print("!!!! 실패 : " + data['rpt_nm'][document_count] + " / " + page_1 + " / " + page_2 + " - 재무상태표 파싱 실패.")
        return

    p = parser.make2d(table[0])    
    table = pd.DataFrame(p[1:], columns = p[0])
    table.to_csv('C:\\Users\\admin\\Desktop\\Test_Result\\' + data['crp_nm'][0] + "(" + COMPANY_CODE
                + ") " + data['rpt_nm'][document_count] +'.csv', encoding='cp949', index=False, mode='a')
                #index를 통해 row명 표기X, mode a로 파일 이어쓰기식 열기
    return

In [8]:
def old_table(body, data, document_count, page_1) :
    body = body.split('cnt++')[0].split('viewDoc(')[1].split(')')[0].split(', ')
    body = [body[i][1:-1] for i in range(len(body))]       # 찾아낸 재무제표 페이지로 이동하기 위한 url구성 번호 파싱
    VIEWER_URL = "http://dart.fss.or.kr/report/viewer.do?rcpNo=" + body[0] \
                + '&dcmNo=' + body[1] + '&eleId=' + body[2] + '&offset=' + body[3] \
                + '&length=' + body[4] + '&dtd=dart3.xsd'

    # table_attribute = BeautifulSoup(urlopen(VIEWER_URL).read(), 'html.parser')
    # table_attribute = table_attribute.find('table') # 가장 먼저 등장하는 table태그 기준 가져오기
    # pt = parser.make2d(table_attribute)             # list로 변환저장 - 과정에서 다른 불필요한 태그들 자동 제거
    # table_attribute = pd.DataFrame(pt)              # DataFrame으로 변환하여 다시저장
    
    # table_attribute = table_attribute.applymap(lambda x: x.replace('\xa0','').replace('\xa9','')) #인코딩을 위해 공백을 의미하는 특수문자열 제거
    # table_attribute.to_csv('C:\\Users\\admin\\Desktop\\Test_Result\\' + data['crp_nm'][0] + "(" + COMPANY_CODE
    #             + ") " + data['rpt_nm'][document_count] +'.csv', encoding='cp949', header=False, index=False, mode='a')
    #             #header를 통해 column명 표기X, index를 통해 row명 표기X, mode w로 파일 덮어쓰기식 생성
    link_flag = 1
    page = BeautifulSoup(urlopen(VIEWER_URL).read(), 'html.parser')
    if len(str(page.find('body')).split('연 결 재 무 상 태 표')) == 1 :   # 연결재무상태표
        if len(str(page.find('body')).split('연결 재무상태표')) <= 1 :   # 재무상태표를 찾아내지 못한다면 프로그램 종료
            if len(str(page.find('body')).split('연결재무상태표')) <= 1 :
                print("!!!! 실패 : " + data['rpt_nm'][document_count] + " / " + page_1 + " / " + "연결재무상태표 탐색 실패.")
                link_flag = 0
            else :
                body = str(page.find('body')).split('연결재무상태표')[1]    # "재무상태표" 로 발견
                page_2 = '연결재무상태표'
        else :
            body = str(page.find('body')).split('연결 재무상태표')[1]    # "재무상태표" 로 발견
            page_2 = '연결재무상태표'
    else : 
        body = str(page.find('body')).split('연 결 재 무 상 태 표')[1]    # "재 무 상 태 표" 로 발견
        page_2 = '연결재무상태표'
    
    # if (link_flag == 1) :
    #     indi_body = body

    #재무상태표(대차대조표)
    #대차대조표
    #대 차 대 조 표
    #재무상태표(

    body = BeautifulSoup(body, 'html.parser')                       # 찾아낸 재무상태표를 읽어내기 위해 파싱
    table = body.find_all('table')  # table 태그 탐색
    print(table)
    return
    if len(table) <= 1 :            # 탐색 실패시 프로그램 종료
        print("!!!! 실패 : " + data['rpt_nm'][document_count] + " / " + page_1 + " / " + page_2 + " - 재무상태표 파싱 실패.")
        return

    print("탐색 성공 : " + data['rpt_nm'][document_count] + " / " + page_1 + " / " + page_2)
    p = parser.make2d(table[0])    
    table = pd.DataFrame(p[1:], columns = p[0])
    table.to_csv('C:\\Users\\admin\\Desktop\\Test_Result\\' + data['crp_nm'][0] + "(" + COMPANY_CODE
                + ") " + data['rpt_nm'][document_count] +'.csv', encoding='cp949', index=False, mode='a')
                #index를 통해 row명 표기X, mode a로 파일 이어쓰기식 열기
    return

In [11]:
print(fs_page())          # for testing.

TypeError: object of type 'NoneType' has no len()

In [13]:
#from urllib.request import urlopen    # for html request/respone
##from bs4 import BeautifulSoup
#import pandas as pd
#import os
#from selenium import webdriver

def download_files():
    XML_RESULT = BeautifulSoup(urlopen("https://opendart.fss.or.kr/disclosureinfo/fnltt/dwld/main.do").read(), 'html.parser')
    down_option = XML_RESULT.find_all('a', onclick=())
    print(lambda x: "Y" if "\'FY\'," in x else "No.\n", down_option)

In [14]:
download_files()

<function download_files.<locals>.<lambda> at 0x000001C6E816E670> [<a href="/"><img alt="오픈다트 로고" src="/images/logo.png"/></a>, <a href="/uat/uia/egovLoginUsr.do">LOGIN</a>, <a href="/sitemap/main.do">SITE MAP</a>, <a href="javascript:toSNS('F','000')" title="페이스북 바로가기(새창열림)"><img alt="페이스북 바로가기" src="/images/gnb_sns_01.png"/></a>, <a href="javascript:toSNS('T','000')" title="트위터 바로가기(새창열림)"><img alt="트위터 바로가기" src="/images/gnb_sns_02.png"/></a>, <a href="javascript:toSNS('B','000')" title="블로그 바로가기(새창열림)"><img alt="블로그 바로가기" src="/images/gnb_sns_03.png"/></a>, <a href="/intro/main.do">오픈API 소개</a>, <a href="/intro/main.do">오픈API 소개</a>, <a href="/intro/infoApiList.do">오픈API 서비스 소개</a>, <a href="/intro/terms.do">이용약관</a>, <a href="/intro/confirm.do">개인정보 수집이용동의</a>, <a href="/mng/userApiKeyListView.do">인증키 신청/관리</a>, <a href="/uss/umt/EgovMberInsertView.do">인증키 신청</a>, <a href="/mng/userApiKeyListView.do">인증키 관리</a>, <a href="/mng/apiUsageStatusView.do">오픈API 이용현황</a>, <a href="/guide/main.do?apiGrpCd=DS001">개발가이드</a>, <a href="/guide/main.do?apiGrpCd=DS001">공시정보</a>, <a href="/guide/main.do?apiGrpCd=DS002">사업보고서 주요정보</a>, <a href="/guide/main.do?apiGrpCd=DS003">상장기업 재무정보</a>, <a href="/guide/main.do?apiGrpCd=DS004">지분공시 종합정보</a>, <a href="/disclosureinfo/biz/main.do">공시정보 활용마당</a>, <a href="/disclosureinfo/biz/main.do">사업보고서 주요정보조회</a>, <a href="/disclosureinfo/fnltt/singl/main.do">재무정보조회</a>, <a href="/disclosureinfo/fnltt/dwld/main.do">재무정보일괄다운로드</a>, <a href="/disclosureinfo/qota/main.do">지분공시 종합정보조회</a>, <a href="/cop/bbs/selectArticleList.do?bbsId=B0000000000000000001">소통창구</a>, <a href="/cop/bbs/selectArticleList.do?bbsId=B0000000000000000001">공지사항</a>, <a href="/cop/bbs/selectArticleList.do?bbsId=B0000000000000000002">FAQ </a>, <a href="/cop/bbs/selectArticleList.do?bbsId=B0000000000000000003">Q&amp;A;</a>, <a href="/cop/bbs/selectArticleList.do?bbsId=B0000000000000000004">변동내역알림</a>, <a href="/mng/selectUserInfoView.do">마이페이지</a>, <a href="/mng/selectUserInfoView.do">사용자 정보조회</a>, <a href="/mng/changeUserPwView.do">비밀번호 변경</a>, <a href="/mng/signOutUserView.do">탈퇴하기</a>, <a href="/"><img alt="다트 로고" src="/images/mobile/logo.png"/></a>, <a href="#none" id="m_menu"><img alt="메뉴" src="/images/mobile/top_menu.png"/></a>, <a href="javascript: void(0);">오픈API 소개</a>, <a href="/intro/main.do">오픈API 소개</a>, <a href="/intro/terms.do">이용약관</a>, <a href="/intro/confirm.do">개인정보 수집이용동의</a>, <a href="javascript: void(0);">인증키 신청/관리</a>, <a href="/uss/umt/EgovMberInsertView.do">인증키 신청</a>, <a href="/mng/userApiKeyListView.do">인증키 관리</a>, <a href="/mng/apiUsageStatusView.do">오픈API 이용현황</a>, <a href="javascript: void(0);">개발가이드</a>, <a href="/guide/main.do?apiGrpCd=DS001">공시정보</a>, <a href="/guide/main.do?apiGrpCd=DS002">사업보고서 주요정보</a>, <a href="/guide/main.do?apiGrpCd=DS003">상장기업 재무정보</a>, <a href="/guide/main.do?apiGrpCd=DS004">지분공시 종합정보</a>, <a href="javascript: void(0);">공시정보 활용마당</a>, <a href="/disclosureinfo/biz/main.do">사업보고서 주요정보조회</a>, <a href="javascript: void(0);">재무정보조회</a>, <a href="/disclosureinfo/fnltt/singl/main.do">단일회사 재무제표 조회</a>, <a href="/disclosureinfo/fnltt/singlacnt/main.do">단일회사 주요계정 조회</a>, <a href="/disclosureinfo/fnltt/cmpnyacnt/main.do">회사간 주요계정 비교</a>, <a href="/disclosureinfo/fnltt/xbrl/main.do">XBRL재무제표 원문 내려받기</a>, <a href="/disclosureinfo/fnltt/dwld/main.do">재무정보일괄다운로드</a>, <a href="/disclosureinfo/qota/main.do">지분공시 종합정보조회</a>, <a href="javascript: void(0);">소통창구</a>, <a href="/cop/bbs/selectArticleList.do?bbsId=B0000000000000000001">공지사항</a>, <a href="/cop/bbs/selectArticleList.do?bbsId=B0000000000000000002">FAQ </a>, <a href="/cop/bbs/selectArticleList.do?bbsId=B0000000000000000003">Q&amp;A;</a>, <a href="/cop/bbs/selectArticleList.do?bbsId=B0000000000000000004">변동내역알림</a>, <a href="javascript: void(0);">마이페이지</a>, <a href="/mng/selectUserInfoView.do">사용자 정보조회</a>, <a href="/mng/changeUserPwView.do">비밀번호 변경</a>, <a href="/mng/signOutUserView.do">탈퇴하기</a>, <a href="javascript:toSNS('F','000')" title="전자공시시스템 페이스북 바로가기(새창열림)"><img alt="페이스북 바로가기" src="/images/mobile/gnb_sns_01.png"/></a>, <a href="javascript:toSNS('T','000')" title="전자공시시스템 트위터 바로가기(새창열림)"><img alt="트위터 바로가기" src="/images/mobile/gnb_sns_02.png"/></a>, <a href="javascript:toSNS('B','000')" title="전자공시시스템 블로그 바로가기(새창열림)"><img alt="블로그 바로가기" src="/images/mobile/gnb_sns_03.png"/></a>, <a href="/disclosureinfo/biz/main.do">사업보고서 주요정보조회</a>, <a class="on" href="/disclosureinfo/fnltt/singl/main.do">재무정보조회</a>, <a href="/disclosureinfo/fnltt/singl/main.do">단일회사 재무제표 조회</a>, <a href="/disclosureinfo/fnltt/singlacnt/main.do">단일회사 주요계정 조회</a>, <a href="/disclosureinfo/fnltt/cmpnyacnt/main.do">회사간 주요계정 비교</a>, <a href="/disclosureinfo/fnltt/xbrl/main.do">XBRL 재무제표 원문 내려받기</a>, <a href="/disclosureinfo/fnltt/dwld/main.do">재무정보 일괄다운로드</a>, <a href="/disclosureinfo/qota/main.do">지분공시 종합정보조회</a>, <a href="http://dart.fss.or.kr" target="_blank"><img alt="전자공시시스템 바로가기" src="/images/footer_banner_09.png"/></a>, <a href="http://www.fsc.go.kr" target="_blank"><img alt="금융위원회 바로가기" src="/images/footer_banner_02.png"/></a>, <a href="http://www.ftc.go.kr" target="_blank"><img alt="공정거래위원회 바로가기" src="/images/footer_banner_03.png"/></a>, <a href="http://law.fss.or.kr" target="_blank"><img alt="금융감독법규 바로가기" src="/images/footer_banner_04.png"/></a>, <a href="http://www.fss.or.kr/fss/scop/main.jsp" target="_blank"><img alt="인터넷증권 범죄신고 바로가기" src="/images/footer_banner_05.png"/></a>, <a href="https://1398.acrc.go.kr/hpg/req/hpgPssStep1.do" target="_blank"><img alt="복지보조금 부정신고 바로가기" src="/images/footer_banner_06.png"/></a>, <a href="http://www.fss.or.kr/fss/kr/acro/participate/public_interest_info.jsp" target="_blank"><img alt="금융감독원공익신고 바로가기" src="/images/footer_banner_07.png"/></a>, <a href="http://www.fss.or.kr/fss/kr/info/privacy/privacy.jsp" target="_blank"><img alt="개인정보처리방침 바로가기" src="/images/footer_banner_08.png"/></a>, <a href="http://www.fss.or.kr/fss/kr/main.html" target="_blank"><img alt="금융감독원 바로가기" src="/images/footer_logo.png"/></a>, <a href="tel:0231455114">02)3145-5114</a>, <a href="tel:1332">1332</a>, <a href="tel:1332">1332</a>]

In [18]:
def main() :
    #download_files() 사실상 버려진 함수

    CWD = os.getcwd()               # 현재 디렉토리 위치 잡기
    file_list = os.listdir(CWD)    # 현재 Python이 실행된 디렉토리 내부 파일들 가져오기
    dir_list = []
    for file in file_list :         # 현재 파일목록 탐색
        if "BS" in file or "PL" in file :   # 이름에 BS 또는 PL이 포함되는 경우
            if os.path.isdir(file) :        # BS 또는 PL에, 디렉토리인 경우
                dir_list.append(file)       # dir_list 에 추가

    for dir in dir_list :                   # dir_list 탐색
        fa_file_list = []                   # fa_file_list 초기화
        file_list = os.listdir(dir)         # dir 경로 내부 파일들 가져오기

        for file in file_list :             # dir 파일 목록 탐색
            if "사업보고서" in file :       # 이름에 사업보고서가 포함된 경우
                fa_file_list.append(file)   # fa_file_list 에 추가
        for fa_file in fa_file_list :       # fa_file_list 탐색
            TSV_TABLE = pd.read_csv(dir + "\\" + fa_file, sep="\t", encoding="cp949") #한글 인코딩, 탭단위 구분으로 읽어오기
            TSV_TABLE.rename(columns={"재무제표종류":"결산연도"}, inplace=True) # 재무제표종류 컬럼을 결산연도로 변경
            TSV_TABLE.rename(columns={"항목코드":"LEVEL"}, inplace=True)       # 항목코드 컬럼을 LEVEL로 변경
            TSV_TABLE.insert(loc=11, column="총계구분", value='')              # 총계구분 컬럼 추가
            del TSV_TABLE["업종"], TSV_TABLE["업종명"], TSV_TABLE["결산기준일"], TSV_TABLE["시장구분"]  
                                # 업종, 업종명, 결산기준일, 시장구분 컬럼 제거
            for del_unnamed in TSV_TABLE.columns :          # 공백으로 채워진 컬럼 제거
                if "Unnamed:" in del_unnamed : del TSV_TABLE[del_unnamed]

            TSV_TABLE["결산연도"] = fa_file[0:4]    # 결산연도 컬럼 값 채우기
            TSV_TABLE["LEVEL"] = list(map(lambda x: len(x) - len(x.lstrip()), TSV_TABLE["항목명"])) # LEVEL컬럼 값 채우기
            TSV_TABLE["총계구분"] = list(map(lambda x: "Y" if "총계" in x else "N", TSV_TABLE["항목명"])) #총계구분 컬럼 값 채우기   
            
            TSV_TABLE.to_csv("TSV___"+ fa_file.split('.')[0] + '.tsv', index=False, sep="\t")   # .tsv 파일로 저장
            TSV_TABLE.to_csv("TXT___"+ fa_file.split('.')[0] + '.txt', index=False, sep="\t")   # .txt 파일로 저장
            print(fa_file.split('.')[0] + "\t파일 변환 완료")   # 파일 당 성공여부 출력

main()
print("모든 TXT to TSV 변환이 완료되었습니다!") # 프로그램 정상종료 출력

모든 TXT to TSV 변환이 완료되었습니다!

In [17]:
import os

---

http://dart.fss.or.kr/report/viewer.do?rcpNo=20200330003851&dcmNo=7202455&eleId=13&offset=629645&length=115706&dtd=dart3.xsd

http://dart.fss.or.kr/report/viewer.do?rcpNo=20190401004781&dcmNo=6616741&eleId=13&offset=625579&length=120141&dtd=dart3.xsd

http://dart.fss.or.kr/report/viewer.do?rcpNo=20200330004441&dcmNo=7206202&eleId=13&offset=372010&length=92933&dtd=dart3.xsd

http://dart.fss.or.kr/report/viewer.do?rcpNo=20180402005019&dcmNo=6060273&eleId=13&offset=642452&length=115790&dtd=dart3.xsd

In [22]:
#auth_key="Type your own key" #authority key
company_code="005930" #company code
start_date="1990101"

#STEP 3
url = "http://dart.fss.or.kr/api/search.xml?auth="+API_KEY+"&crp_cd="+company_code+"&start_dt="+start_date+"&bsn_tp=A001&bsn_tp=A002&bsn_tp=A003"

In [23]:
url

'http://dart.fss.or.kr/api/search.xml?auth=34498c52b5674a6014154edbaa30d2739f265da7&crp_cd=005930&start_dt=1990101&bsn_tp=A001&bsn_tp=A002&bsn_tp=A003'

In [ ]:
#auth_key="Type your own key" #authority key
company_code="005930" #company code
start_date="1990101"

#STEP 3
url = "http://dart.fss.or.kr/api/search.xml?auth="+API_KEY+"&crp_cd="+company_code+"&start_dt="+start_date+"&bsn_tp=A001&bsn_tp=A002&bsn_tp=A003"

#STEP 4
resultXML=urlopen(url)  #this is for response of XML
result=resultXML.read() #Using read method

#STEP 5
xmlsoup=BeautifulSoup(result,'html.parser')

#STEP 6
data = pd.DataFrame()

te=xmlsoup.findAll("list")

In [28]:
import OpenDartReader

# ==== 0. 객체 생성 ====
# 객체 생성 (API KEY 지정) 
#api_key = 'a81e18ac719d1e1e4ec2899ef25a737ab6cbb4c7'

dart = OpenDartReader(API_KEY)

In [29]:
# 삼성전자 상장이후 모든 공시 목록 (5,142 건+)
dart.list('005930', start='1900')

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20210203000461,안규리,20210203,
1,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20210203000324,국민연금공단,20210203,
2,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20210202000037,정진민,20210202,
3,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20210128000335,이창수,20210128,
4,00126380,삼성전자,005930,Y,매출액또는손익구조30%(대규모법인은15%)이상변경,20210128800077,삼성전자,20210128,유
...,...,...,...,...,...,...,...,...,...
45,00126380,삼성전자,005930,Y,채무보증(담보제공포함),20000404000429,삼성전자,20000404,
46,00126380,삼성전자,005930,Y,최대주주등을위한금전의대여,20000401000031,삼성전자,20000401,
47,00126380,삼성전자,005930,Y,감사보고서 (1999.12),20000320000124,삼일회계법인,20000320,
48,00126380,삼성전자,005930,Y,[기재정정]반기보고서 (1999.06),19990824000003,삼성전자,19990824,
49,00126380,삼성전자,005930,Y,[기재정정]사업보고서 (1998.12),19990626000007,삼성전자,19990626,연

In [ ]:



# == 1. 공시정보 검색 ==
# 삼성전자 2019-07-01 하루 동안 공시 목록 (날짜에 다양한 포맷이 가능합니다)
dart.list('005930', end='2019-7-1')

# 삼성전자 상장이후 모든 공시 목록 (5,142 건+)
dart.list('005930', start='1900') 

# 삼성전자 2010-01-01 ~ 2019-12-31 모든 공시 목록 (2,676 건)
dart.list('005930', start='2010-01-01', end='2019-12-31') 

# 삼성전자 1999-01-01 이후 모든 정기보고서
dart.list('005930', start='1999-01-01', kind='A', final=False)

# 삼성전자 1999년~2019년 모든 정기보고서(최종보고서)
dart.list('005930', start='1999-01-01', end='2019-12-31', kind='A') 


# 2020-07-01 하루동안 모든 공시목록
dart.list(end='20200701')

# 2020-01-01 ~ 2020-01-10 모든 회사의 모든 공시목록 (4,209 건)
dart.list(start='2020-01-01', end='2020-01-10')

# 2020-01-01 ~ 2020-01-10 모든 회사의 모든 공시목록 (정정된 공시포함) (4,876 건)
dart.list(start='2020-01-01', end='2020-01-10', final=False)

# 2020-07-01 부터 현재까지 모든 회사의 정기보고서
dart.list(start='2020-07-01', kind='A')

# 2019-01-01 ~ 2019-03-31 모든 회사의 정기보고서 (961건)
dart.list(start='20190101', end='20190331', kind='A')

# 기업의 개황정보
dart.company('005930')

# 회사명에 삼성전자가 포함된 회사들에 대한 개황정보
dart.company_by_name('삼성전자')

# 삼성전자 사업보고서 (2018.12) 원문 텍스트
xml_text = dart.document('20190401004781')


# ==== 2. 사업보고서 ====
# 삼성전자(005930), 배당관련 사항, 2018년
dart.report('005930', '배당', 2018) 

# 서울반도체(046890), 최대주주 관한 사항, 2018년
dart.report('046890', '최대주주', 2018) 

# 서울반도체(046890), 임원 관한 사항, 2018년
dart.report('046890', '임원', 2018) 

# 삼성바이오로직스(207940), 2019년, 소액주주에 관한 사항
dart.report('207940', '소액주주', '2019')


# ==== 3. 상장기업 재무정보 ====
# 삼성전자 2018 재무제표 
dart.finstate('삼성전자', 2018) # 사업보고서

# 삼성전자 2018Q1 재무제표
dart.finstate('삼성전자', 2018, reprt_code='11013')

# 여러종목 한번에
dart.finstate('00126380,00164779,00164742', 2018)
dart.finstate('005930, 000660, 005380', 2018)
dart.finstate('삼성전자, SK하이닉스, 현대자동차', 2018)

# 단일기업 전체 재무제표 (삼성전자 2018 전체 재무제표)
dart.finstate_all('005930', 2018)

# 재무제표 XBRL 원본 파일 저장 (삼성전자 2018 사업보고서)
dart.finstate_xml('20190401004781', save_as='삼성전자_2018_사업보고서_XBRL.zip')

# XBRL 표준계정과목체계(계정과목)
dart.xbrl_taxonomy('BS1')


# ==== 4. 지분공시 ====
# 대량보유 상황보고 (종목코드, 종목명, 고유번호 모두 지정 가능)
dart.major_shareholders('삼성전자')

# 임원ㆍ주요주주 소유보고 (종목코드, 종목명, 고유번호 모두 지정 가능)
dart.major_shareholders_exec('005930')


# ==== 5. 확장 기능 ====
# 지정한 날짜의 공시목록 전체 (시간 정보 포함)
dart.list_date_ex('2020-01-03')

# 개별 문서 제목과 URL
rcp_no = '20190401004781' # 삼성전자 2018년 사업보고서
dart.sub_docs(rcp_no)

# 제목이 잘 매치되는 순서로 소트
dart.sub_docs('20190401004781', match='사업의 내용')

# 첨부 문서 제목과 URL
dart.attach_doc_list(rcp_no)

# 제목이 잘 매치되는 순서로 소트
dart.attach_doc_list(rcp_no, match='감사보고서')

# 첨부 파일 제목과 URL
dart.attach_file_list(rcp_no)

In [37]:
import dart_fss as dart

In [38]:
dart.set_api_key(api_key=API_KEY)

'34498c52b5674a6014154edbaa30d2739f265da7'

In [39]:
corp_list = dart.get_corp_list()

Output()

Output()

Output()

In [67]:
%%time
silicon = corp_list.find_by_corp_name('실리콘웍스',exactly=True)[0]

Wall time: 46.6 ms

In [69]:
%%time
silicon_fs = silicon.extract_fs(bgn_de='20090101')

HBox(children=(HTML(value='Annual reports'), FloatProgress(value=0.0, max=10.0), HTML(value='')))

Wall time: 1min 51s

In [72]:
silicon_fs[0].head(1)

  [D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)  \
                                                                                                      concept_id
0                            ifrs-full_CurrentAssets

                                                                           \
  label_ko        label_en            class0         class1 class2 class3
0     유동자산  Current assets  재무상태표 [abstract]  자산 [abstract]   유동자산   None

           20191231          20181231          20171231          20161231  \
          (연결재무제표,)         (연결재무제표,)         (연결재무제표,)         (연결재무제표,)
0 519,232,824,508.0 508,162,893,203.0 497,749,253,911.0 440,498,706,729.0

           20151231          20141231          20131231          20121231  \
          (연결재무제표,)         (연결재무제표,)         (연결재무제표,)         (연결재무제표,)
0 412,540,990,526.0 336,622,734,729.0 305,353,454,239.0 300,990,901,088.0

           20111231          20101231          20091231
          (연결재무제표,)         (연결재무제표,)         (연결재무제표,)
0 244,383,504,758.0 221,417,692,746.0 107,236,704,599.0

In [41]:
samsung = corp_list.find_by_corp_name('삼성전자', exactly=True)[0]

In [43]:
fs = samsung.extract_fs(bgn_de='20120101')

HBox(children=(HTML(value='Annual reports'), FloatProgress(value=0.0, max=9.0), HTML(value='')))

In [45]:
len(fs)

4

In [47]:
fs[0].shape

(55, 19)

In [49]:
fs[0].head(3)

  [D210000] Statement of financial position, current/non-current - Consolidated financial statements (Unit: KRW)  \
                                                                                                      concept_id
0                            ifrs-full_CurrentAssets
1                   ifrs-full_CashAndCashEquivalents
2  dart_ShortTermDepositsNotClassifiedAsCashEquiv...

                                                                 \
   label_ko                          label_en            class0
0      유동자산                    Current assets  재무상태표 [abstract]
1  현금및현금성자산         Cash and cash equivalents  재무상태표 [abstract]
2    단기금융상품  Short-term financial instruments  재무상태표 [abstract]

                                                      20191231  \
          class1 class2    class3 class4             (연결재무제표,)
0  자산 [abstract]   유동자산      None   None 181,385,260,000,000.0
1  자산 [abstract]   유동자산  현금및현금성자산   None  26,885,999,000,000.0
2  자산 [abstract]   유동자산    단기금융상품   None  76,252,052,000,000.0

               20181231              20171231              20161231  \
              (연결재무제표,)             (연결재무제표,)             (연결재무제표,)
0 174,697,424,000,000.0 146,982,464,000,000.0 141,429,704,000,000.0
1  30,340,505,000,000.0  30,545,130,000,000.0  32,111,442,000,000.0
2  65,893,797,000,000.0  49,447,696,000,000.0  52,432,411,000,000.0

               20151231              20141231              20131231  \
              (연결재무제표,)             (연결재무제표,)             (연결재무제표,)
0 124,814,725,000,000.0 115,146,026,000,000.0 110,760,271,000,000.0
1  22,636,744,000,000.0  16,840,766,000,000.0  16,284,780,000,000.0
2  44,228,800,000,000.0  41,689,776,000,000.0  36,722,702,000,000.0

              20121231             20111231             20101231  \
             (연결재무제표,)            (연결재무제표,)            (연결재무제표,)
0 87,269,017,000,000.0 71,502,063,000,000.0 61,402,589,000,000.0
1 18,791,460,000,000.0 14,691,761,000,000.0  9,791,419,000,000.0
2 17,397,937,000,000.0 11,529,905,000,000.0 11,529,392,000,000.0

              20091231
             (연결재무제표,)
0 54,211,297,000,000.0
1 10,149,930,000,000.0
2  8,629,113,000,000.0

In [59]:
fs[0].columns[-1]

('20091231', ('연결재무제표',))

In [63]:
fs[1].head(1)

  [D310000] Income statement, by function of expense - Consolidated financial statements (Unit: KRW)  \
                                                                                          concept_id
0                                  ifrs-full_Revenue

                                                              \
  label_ko        label_en            class0   class1 class2
0  수익(매출액)  Revenue(Sales)  손익계산서 [abstract]  수익(매출액)   None

      20190101-20191231     20180101-20181231     20170101-20171231  \
              (연결재무제표,)             (연결재무제표,)             (연결재무제표,)
0 230,400,881,000,000.0 243,771,415,000,000.0 239,575,376,000,000.0

      20160101-20161231     20150101-20151231     20140101-20141231  \
              (연결재무제표,)             (연결재무제표,)             (연결재무제표,)
0 201,866,745,000,000.0 200,653,482,000,000.0 206,205,987,000,000.0

      20130101-20131231     20120101-20121231     20110101-20111231  \
              (연결재무제표,)             (연결재무제표,)             (연결재무제표,)
0 228,692,667,000,000.0 201,103,613,000,000.0 165,001,771,000,000.0

      20100101-20101231     20090101-20091231
              (연결재무제표,)             (연결재무제표,)
0 154,630,328,000,000.0 136,323,670,000,000.0

In [64]:
fs[2].head(1)

  [D410000] Statement of comprehensive income - Consolidated financial statements (Unit: KRW)  \
                                                                                   concept_id
0                               ifrs-full_ProfitLoss

                                                                          \
    label_ko       label_en              class0     class1 class2 class3
0  당기순이익(손실)  Profit (loss)  포괄손익계산서 [abstract]  당기순이익(손실)   None   None

     20190101-20191231    20180101-20181231    20170101-20171231  \
             (연결재무제표,)            (연결재무제표,)            (연결재무제표,)
0 21,738,865,000,000.0 44,344,857,000,000.0 42,186,747,000,000.0

     20160101-20161231    20150101-20151231    20140101-20141231  \
             (연결재무제표,)            (연결재무제표,)            (연결재무제표,)
0 22,726,092,000,000.0 19,060,144,000,000.0 23,394,358,000,000.0

     20130101-20131231    20120101-20121231    20110101-20111231  \
             (연결재무제표,)            (연결재무제표,)            (연결재무제표,)
0 30,474,764,000,000.0 23,845,285,000,000.0 13,759,043,000,000.0

     20100101-20101231   20090101-20091231
             (연결재무제표,)           (연결재무제표,)
0 16,182,356,000,000.0 9,760,550,000,000.0

In [65]:
fs[3].head(1)

  [D520000] Statement of cash flows, indirect method - Consolidated financial statements (Unit: KRW)  \
                                                                                          concept_id
0   ifrs-full_CashFlowsFromUsedInOperatingActivities

                                                              \
    label_ko                                        label_en
0  영업활동 현금흐름  Cash flows from (used in) operating activities

                                                20190101-20191231  \
             class0     class1 class2 class3            (연결재무제표,)
0  현금흐름표 [abstract]  영업활동 현금흐름   None   None 45,382,915,000,000.0

     20180101-20181231    20170101-20171231    20160101-20161231  \
             (연결재무제표,)            (연결재무제표,)            (연결재무제표,)
0 67,031,863,000,000.0 62,162,041,000,000.0 47,385,644,000,000.0

     20150101-20151231    20140101-20141231    20130101-20131231  \
             (연결재무제표,)            (연결재무제표,)            (연결재무제표,)
0 40,061,761,000,000.0 36,975,389,000,000.0 46,707,440,000,000.0

     20120101-20121231    20110101-20111231    20100101-20101231  \
             (연결재무제표,)            (연결재무제표,)            (연결재무제표,)
0 37,972,809,000,000.0 22,917,901,000,000.0 23,826,779,000,000.0

     20090101-20091231
             (연결재무제표,)
0 18,522,468,000,000.0

In [ ]:

# DART 에 공시된 회사 리스트 불러오기
corp_list = dart.get_corp_list()

# 삼성전자 검색
samsung = corp_list.find_by_corp_name('삼성전자', exactly=True)[0]

# 2012년부터 연간 연결재무제표 불러오기
fs = samsung.extract_fs(bgn_de='20120101')

# 재무제표 검색 결과를 엑셀파일로 저장 ( 기본저장위치: 실행폴더/fsdata )
fs.save()

In [74]:
import glob

In [75]:
glob.glob("../FinState/*")

['../FinState\\DeepSearch-메리츠화재_IFRS_연결_연간-20210205-112138.xlsx',
 '../FinState\\DeepSearch-삼성전자_IFRS_연결_연간-20210205-111631.xlsx']

In [101]:
ww = pd.read_excel("../FinState/DeepSearch-삼성전자_IFRS_연결_연간-20210205-111631.xlsx",sheet_name=2)

In [81]:
qq = pd.read_excel("../FinState/DeepSearch-메리츠화재_IFRS_연결_연간-20210205-112138.xlsx",sheet_name=2)

In [108]:
ww[lambda x : x['name_ko']=='총수익']

,date,symbol,entity_name,type_id,report_id,account_id,name_ko,value
182,1996-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"19,877,739,175,000.0"
745,1997-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"22,682,015,966,000.0"
1290,1998-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"25,772,311,281,000.0"
1857,1999-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"32,087,714,365,000.0"
2452,2000-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"43,527,806,399,000.0"
3060,2001-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"46,443,767,990,000.0"
3668,2002-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"58,504,801,000,000.0"
4264,2003-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"64,817,456,000,000.0"
4856,2004-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"81,963,009,000,000.0"
5431,2005-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"80,629,510,000,000.0"
6007,2006-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"85,834,604,000,000.0"
6598,2007-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"98,507,817,000,000.0"
7160,2008-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"121,294,319,000,000.0"
7677,2009-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"136,323,670,000,000.0"
8199,2010-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"154,630,328,000,000.0"
8719,2011-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"165,001,771,000,000.0"
9238,2012-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"201,103,613,000,000.0"
9748,2013-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"228,692,667,000,000.0"
10268,2014-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"206,205,987,000,000.0"
10782,2015-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"200,653,482,000,000.0"
11299,2016-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"201,866,745,000,000.0"
11836,2017-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"239,575,376,000,000.0"
12377,2018-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"243,771,415,000,000.0"
12905,2019-12-31,KRX:005930,삼성전자,K,12,1100,총수익,"230,400,881,000,000.0"

In [105]:
set(ww[ww['name_ko'].str.contains('매출액')]['name_ko'].values)

{'EBITDA대매출액',
 'EBIT대매출액(세전이익)',
 '금융비용/매출액비율',
 '매출액법인세비용차감전순이익율',
 '매출액순이익율',
 '매출액영업이익율',
 '매출액증가율',
 '매출액총이익율',
 '차입금/매출액비율'}

In [ ]:
qq[lambda]

In [112]:
qq[lambda x : x['name_ko']=='수익']

,date,symbol,entity_name,type_id,report_id,account_id,name_ko,value
310,2009-03-31,KRX:000060,메리츠화재,K,D2,9110,수익,"80,514,721,000.0"
818,2010-03-31,KRX:000060,메리츠화재,K,D2,9110,수익,"75,500,329,000.0"
1332,2011-03-31,KRX:000060,메리츠화재,K,D2,9110,수익,"25,022,766,000.0"
1868,2012-03-31,KRX:000060,메리츠화재,K,D2,9110,수익,"12,140,639,000.0"
2423,2013-03-31,KRX:000060,메리츠화재,K,D2,9110,수익,"17,402,284,000.0"
2948,2013-12-31,KRX:000060,메리츠화재,K,D2,9110,수익,"2,534,000,000.0"
3449,2014-12-31,KRX:000060,메리츠화재,K,D2,9110,수익,"38,000,000.0"